In [28]:
import pandas as pd
import numpy as np
from tabulate import tabulate

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

data_train = pd.read_csv("./data/train.csv")
data_train

data_train.Cabin = data_train.Cabin.str.extract('([A-Z])\d+', expand=False)
data_train.Cabin.fillna('S', inplace=True)
data_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,S,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,S,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,S,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,S,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,S,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,S,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,S,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,S,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,S,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,S,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,S,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,S,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,S,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,S,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,S,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,S,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,S,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,S,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,S,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,S,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,S,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,S,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,S,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,S,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,S,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,S,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,S,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,S,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,S,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,S,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,S,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,S,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,S,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,S,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,S,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,S,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,S,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,S,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,S,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,S,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,S,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,S,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,S,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,S,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,S,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,S,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,S,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,S,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,S,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,S,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,S,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,S,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,S,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,S,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,S,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,S,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,S,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,S,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,S,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,S,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,G,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,S,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,S,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,S,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,S,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,S,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,S,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,S,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,S,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,S,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,S,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,S,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,S,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,S,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,S,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,S,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,S,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,S,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,S,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,S,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,S,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,S,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,S,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,S,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,S,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,S,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,S,S
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,S,S
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,S,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,S,Q
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,S,C
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,S,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,S,S
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,S,C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,S,S
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,S,Q
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,S,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,S,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,S,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,S,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,S,C
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,S,C
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,S,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,S,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,E,C
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,S,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,S,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,S,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,S,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,S,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,S,S
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,S,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,S,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,S,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,S,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,S,S
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,S,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,S,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,S,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,S,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,S,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,S,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,S,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,S,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,S,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,S,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,S,C
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,S,Q
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,S,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,S,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,S,S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,S,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,S,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,S,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,S,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,S,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,S,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,S,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,S,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,S,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B,S
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,S,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,S,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,S,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A,C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,S,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,S,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C,C
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,S,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,S,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,S,S
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,S,C
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,S,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,S,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A,S
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,S,Q
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,S,S
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,S,Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,S,S
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,S,S
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,S,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,S,S
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F,S
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B,C
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B,C
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,S,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,S,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,S,Q
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,S,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,S,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,S,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,S,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,S,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,S,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,S,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,S,C
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,S,Q
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A,C
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,S,S
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,S,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,S,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,S,S
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,S,Q
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D,C
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,S,S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,S,S
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D,C
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,S,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,S,S
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,S,S
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,S,S
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,S,S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,S,S
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,S,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,S,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,S,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,S,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,S,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,S,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,S,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,S,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,S,S
236,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,S,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,S,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,S,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,S,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,S,C
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,S,Q
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,S,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,S,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,S,C
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,S,S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,S,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,S,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,S,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,S,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,S,S
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,S,C
256,257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,S,C
257,258,1,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B,S
258,259,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,S,C
259,260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50.00,0,1,230433,26.0000,S,S
260,261,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,S,Q

In [8]:
data_train.info()
#   age  cabin 

data_train[cabin]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [9]:
data_train.describe()
#

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
# coding=utf-8
%matplotlib notebook
import matplotlib.pyplot as plt

fig = plt.figure()
fig.set(alpha=0.5)  

plt.subplot2grid((2,3),(0,0))            
data_train.Survived.value_counts().plot(kind='bar')
plt.title(u"survival( 1 is survival)")
plt.ylabel(u"number")  

plt.subplot2grid((2,3),(0,1))
data_train.Pclass.value_counts().plot(kind="bar")
plt.ylabel(u"number")
plt.title(u"passenger pclass")

plt.subplot2grid((2,3),(0,2))
plt.scatter(data_train.Survived, data_train.Age)
plt.ylabel(u"age")                        
plt.grid(b=True, which='major', axis='y') 
plt.title(u"survival")


plt.subplot2grid((2,3),(1,0), colspan=2)
data_train.Age[data_train.Pclass == 1].plot(kind='kde')   
data_train.Age[data_train.Pclass == 2].plot(kind='kde')
data_train.Age[data_train.Pclass == 3].plot(kind='kde')
plt.xlabel(u"age")
plt.ylabel(u"density") 
plt.title(u"age distribution")
plt.legend((u'first cabin', u's cabin',u't cabin'),loc='best') 


plt.subplot2grid((2,3),(1,2))
data_train.Embarked.value_counts().plot(kind='bar')
plt.title(u"port departure number")
plt.ylabel(u"number")  

plt.tight_layout()

In [11]:

df=pd.DataFrame({u'survival':data_train.Pclass[data_train.Survived == 1].value_counts(), u'unsurvival':data_train.Pclass[data_train.Survived == 0].value_counts()})
df.plot(kind='bar', stacked=True)
plt.title(u"survival distribution")
plt.xlabel(u"passenger rank") 
plt.ylabel(u"number")

In [12]:
Survived_m = data_train.Survived[data_train.Sex == 'male'].value_counts()
Survived_f = data_train.Survived[data_train.Sex == 'female'].value_counts()
df=pd.DataFrame({u'male':Survived_m, u'female':Survived_f})
df.plot(kind='bar')

In [13]:
# departure port
Survived_0 = data_train.Embarked[data_train.Survived == 0].value_counts()
Survived_1 = data_train.Embarked[data_train.Survived == 1].value_counts()
df=pd.DataFrame({u'survival':Survived_1, u'not survival':Survived_0})
df.plot(kind='bar', stacked=True)
plt.title(u"survival")
plt.xlabel(u"departure port") 
plt.ylabel(u"number")

In [14]:
g = data_train.groupby(['SibSp','Survived'])
df = pd.DataFrame(g.count()['PassengerId'])
df

                PassengerId
SibSp Survived
0     0                 398
      1                 210
1     0                  97
      1                 112
2     0                  15
      1                  13
3     0                  12
      1                   4
4     0                  15
      1                   3
5     0                   5
8     0                   7

In [15]:
g = data_train.groupby(['SibSp','Survived'])
df = pd.DataFrame(g.count()['PassengerId'])
df

                PassengerId
SibSp Survived
0     0                 398
      1                 210
1     0                  97
      1                 112
2     0                  15
      1                  13
3     0                  12
      1                   4
4     0                  15
      1                   3
5     0                   5
8     0                   7

In [16]:
data_train.Cabin.value_counts()

C23 C25 C27        4
G6                 4
B96 B98            4
F2                 3
F33                3
E101               3
D                  3
C22 C26            3
B20                2
B5                 2
F4                 2
C78                2
B77                2
B57 B59 B63 B66    2
C93                2
E24                2
B28                2
D33                2
C2                 2
B35                2
C92                2
E8                 2
D26                2
C126               2
C123               2
E25                2
B18                2
C125               2
C83                2
B49                2
E33                2
C124               2
C52                2
B58 B60            2
E121               2
D17                2
D35                2
C68                2
C65                2
D20                2
F G73              2
E44                2
D36                2
B51 B53 B55        2
E67                2
B22                2
C106               1
E34                1
D37                1
D10 D12            1
E77                1
B38                1
D56                1
B41                1
E10                1
B80                1
D11                1
C104               1
E68                1
A23                1
A10                1
E58                1
E40                1
D47                1
B39                1
B69                1
A34                1
D15                1
E50                1
D50                1
C90                1
E36                1
C118               1
C30                1
A24                1
C86                1
D49                1
C45                1
A16                1
C32                1
D30                1
C47                1
C54                1
A14                1
B94                1
B3                 1
C95                1
C50                1
F38                1
D9                 1
B71                1
E12                1
A36                1
D46                1
C49                1
B82 B84            1
D45                1
D7                 1
B101               1
C87                1
F E69              1
F G63              1
C82                1
C101               1
C111               1
A7                 1
D21                1
B4                 1
B102               1
A19                1
A26                1
B73                1
E63                1
A32                1
D48                1
C85                1
C46                1
E38                1
D6                 1
B79                1
A5                 1
D19                1
T                  1
C70                1
C62 C64            1
B37                1
E49                1
A31                1
B50                1
C7                 1
C99                1
A6                 1
C91                1
C103               1
E17                1
C148               1
C128               1
A20                1
D28                1
B78                1
B19                1
C110               1
B86                1
B42                1
E46                1
B30                1
E31                1
Name: Cabin, dtype: int64

In [21]:
Survived_cabin = data_train.Survived[pd.notnull(data_train.Cabin)].value_counts()
Survived_nocabin = data_train.Survived[pd.isnull(data_train.Cabin)].value_counts()
df=pd.DataFrame({u'yes':Survived_cabin, u'no':Survived_nocabin}).transpose()
df.plot(kind='bar', stacked=True)
plt.title(u"cabin related survival")
plt.xlabel(u"Cabin or not") 
plt.ylabel(u"number")

plt.show()

In [23]:
plt.figure()
plt.scatter(data_train.Survived, data_train.PassengerId)
plt.ylabel(u"passengerID")                        
plt.grid(b=True, which='major', axis='y') 
plt.title(u"survival")

In [170]:
# 
fig2 = plt.figure()
# from sklearn.ensemble import RandomForestRegressor
x = data_train.Age.value_counts()
n, bins, patches = plt.hist(x, normed=1, facecolor='g', alpha=0.75)
plt.show()

In [ ]:
from sklearn.ensemble import RandomForestRegressor

###  RandomForestClassifier 
def set_missing_ages(df):
    # Random Forest Regressor
    age_df = df[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]
    # 
    known_age = age_df[age_df.Age.notnull()].as_matrix()
    unknown_age = age_df[age_df.Age.isnull()].as_matrix()
    # y
    y = known_age[:, 0]
    # X
    X = known_age[:, 1:]
    # fitRandomForestRegressor
    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
    rfr.fit(X, y)
    # 
    predictedAges = rfr.predict(unknown_age[:, 1::])
    # 
    df.loc[ (df.Age.isnull()), 'Age' ] = predictedAges 
    return df, rfr

def set_Cabin_type(df):
    df.loc[ (df.Cabin.notnull()), 'Cabin' ] = "Yes"
    df.loc[ (df.Cabin.isnull()), 'Cabin' ] = "No"
    return df

data_train, rfr = set_missing_ages(data_train)
data_train = set_Cabin_type(data_train)

In [183]:
# 


# 1. 
plt.figure()
# from sklearn.ensemble import RandomForestRegressor
x = data_train.Age.value_counts()
print(data_train.Age.describe())
n, bins, patches = plt.hist(x, normed=1, facecolor='g', alpha=0.75)
plt.show()

count    891.000000
mean      29.647248
std       13.629879
min        0.420000
25%       21.000000
50%       29.000000
75%       36.000000
max       80.000000
Name: Age, dtype: float64

In [208]:
dummies_Cabin = pd.get_dummies(data_train['Cabin'], prefix= 'Cabin')

dummies_Embarked = pd.get_dummies(data_train['Embarked'], prefix= 'Embarked')

dummies_Sex = pd.get_dummies(data_train['Sex'], prefix= 'Sex')

dummies_Pclass = pd.get_dummies(data_train['Pclass'], prefix= 'Pclass')

df = pd.concat([data_train, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
5      23.838953
6      54.000000
7       2.000000
8      27.000000
9      14.000000
10      4.000000
11     58.000000
12     20.000000
13     39.000000
14     14.000000
15     55.000000
16      2.000000
17     32.066493
18     31.000000
19     29.518205
20     35.000000
21     34.000000
22     15.000000
23     28.000000
24      8.000000
25     38.000000
26     29.518205
27     19.000000
28     22.380113
29     27.947206
30     40.000000
31     36.108048
32     35.295824
33     66.000000
34     28.000000
35     42.000000
36     22.876307
37     21.000000
38     18.000000
39     14.000000
40     40.000000
41     27.000000
42     27.947206
43      3.000000
44     19.000000
45     30.705727
46     33.128985
47     35.295824
48     23.459683
49     18.000000
50      7.000000
51     21.000000
52     49.000000
53     29.000000
54     65.000000
55     44.064830
56     21.000000
57     28.500000
58      5.000000
59     11.000000
60     22.000000
61     38.000000
62     45.000000
63      4.000000
64     41.200088
65     17.099916
66     29.000000
67     19.000000
68     17.000000
69     26.000000
70     32.000000
71     16.000000
72     21.000000
73     26.000000
74     32.000000
75     25.000000
76     27.947206
77     30.705727
78      0.830000
79     30.000000
80     22.000000
81     29.000000
82     23.322627
83     28.000000
84     17.000000
85     33.000000
86     16.000000
87     30.705727
88     23.000000
89     24.000000
90     29.000000
91     20.000000
92     46.000000
93     26.000000
94     59.000000
95     30.705727
96     71.000000
97     23.000000
98     34.000000
99     34.000000
100    28.000000
101    27.947206
102    21.000000
103    33.000000
104    37.000000
105    28.000000
106    21.000000
107    27.515454
108    38.000000
109    33.551176
110    47.000000
111    14.500000
112    22.000000
113    20.000000
114    17.000000
115    21.000000
116    70.500000
117    29.000000
118    24.000000
119     2.000000
120    21.000000
121    30.705727
122    32.500000
123    32.500000
124    54.000000
125    12.000000
126    35.295824
127    24.000000
128    25.783377
129    45.000000
130    33.000000
131    20.000000
132    47.000000
133    29.000000
134    25.000000
135    23.000000
136    19.000000
137    37.000000
138    16.000000
139    24.000000
140    25.344096
141    22.000000
142    24.000000
143    19.000000
144    18.000000
145    19.000000
146    27.000000
147     9.000000
148    36.500000
149    42.000000
150    51.000000
151    22.000000
152    55.500000
153    40.500000
154    29.782796
155    51.000000
156    16.000000
157    30.000000
158    25.523403
159    10.869867
160    44.000000
161    40.000000
162    26.000000
163    17.000000
164     1.000000
165     9.000000
166    26.031882
167    45.000000
168    49.554276
169    28.000000
170    61.000000
171     4.000000
172     1.000000
173    21.000000
174    56.000000
175    18.000000
176     7.309547
177    50.000000
178    30.000000
179    36.000000
180    10.869867
181    31.718940
182     9.000000
183     1.000000
184     4.000000
185    46.249768
186    33.128985
187    45.000000
188    40.000000
189    36.000000
190    32.000000
191    19.000000
192    19.000000
193     3.000000
194    44.000000
195    58.000000
196    35.295824
197    42.000000
198    35.295824
199    24.000000
200    28.000000
201    10.869867
202    34.000000
203    45.500000
204    18.000000
205     2.000000
206    32.000000
207    26.000000
208    16.000000
209    40.000000
210    24.000000
211    35.000000
212    22.000000
213    30.000000
214    31.093430
215    31.000000
216    27.000000
217    42.000000
218    32.000000
219    30.000000
220    16.000000
221    27.000000
222    51.000000
223    27.947206
224    38.000000
225    22.000000
226    19.000000
227    20.500000
228    18.000000
229     7.309547
230    35.000000
231    29.000000
232    59.000000
233     5.000000
234    24.000000
235    31.108385
236    44.000000
237     8.000000
238    19.000000
239    33.000000
240    20.800154
241    33.128985
242    29.000000
243    22.000000
244    30.000000
245    44.000000
246    25.000000
247    24.000000
248    37.000000
249    54.000000
250    29.782796
251    29.000000
252    62.000000
253    30.000000
254    41.000000
255    29.000000
256    34.620286
257    30.000000
258    35.000000
259    50.000000
260    35.295824
261     3.000000
262    52.000000
263    40.000000
264    35.295824
265    36.000000
266    16.000000
267    25.000000
268    58.000000
269    35.000000
270    36.874898
271    25.000000
272    41.000000
273    37.000000
274    35.295824
275    63.000000
276    45.000000
277    35.051818
278     7.000000
279    35.000000
280    65.000000
281    28.000000
282    16.000000
283    19.000000
284    57.742492
285    33.000000
286    30.000000
287    22.000000
288    42.000000
289    22.000000
290    26.000000
291    19.000000
292    36.000000
293    24.000000
294    24.000000
295    41.200088
296    23.500000
297     2.000000
298    41.574877
299    50.000000
300    35.295824
301    23.313683
302    19.000000
303    42.574516
304    30.705727
305     0.920000
306    28.578884
307    17.000000
308    30.000000
309    30.000000
310    24.000000
311    18.000000
312    26.000000
313    28.000000
314    43.000000
315    26.000000
316    24.000000
317    54.000000
318    31.000000
319    40.000000
320    22.000000
321    27.000000
322    30.000000
323    22.000000
324    10.869867
325    36.000000
326    61.000000
327    36.000000
328    31.000000
329    16.000000
330    23.313683
331    45.500000
332    38.000000
333    16.000000
334    31.425878
335    27.947206
336    29.000000
337    41.000000
338    45.000000
339    45.000000
340     2.000000
341    24.000000
342    28.000000
343    25.000000
344    36.000000
345    24.000000
346    40.000000
347    26.689168
348     3.000000
349    42.000000
350    23.000000
351    59.969164
352    15.000000
353    25.000000
354    29.518205
355    28.000000
356    22.000000
357    38.000000
358    22.380113
359    22.380113
360    40.000000
361    29.000000
362    45.000000
363    35.000000
364    33.128985
365    30.000000
366    60.000000
367    22.876307
368    35.295824
369    24.000000
370    25.000000
371    18.000000
372    19.000000
373    22.000000
374     3.000000
375    31.944793
376    22.000000
377    27.000000
378    20.000000
379    19.000000
380    42.000000
381     1.000000
382    32.000000
383    35.000000
384    27.947206
385    18.000000
386     1.000000
387    36.000000
388    19.895581
389    17.000000
390    36.000000
391    21.000000
392    28.000000
393    23.000000
394    24.000000
395    22.000000
396    31.000000
397    46.000000
398    23.000000
399    28.000000
400    39.000000
401    26.000000
402    21.000000
403    28.000000
404    20.000000
405    34.000000
406    51.000000
407     3.000000
408    21.000000
409     7.309547
410    27.947206
411    20.681315
412    33.000000
413    35.051818
414    44.000000
415    30.705727
416    34.000000
417    18.000000
418    30.000000
419    10.000000
420    27.947206
421    21.000000
422    29.000000
423    28.000000
424    18.000000
425    29.782796
426    28.000000
427    19.000000
428    35.295824
429    32.000000
430    28.000000
431    26.689168
432    42.000000
433    17.000000
434    50.000000
435    14.000000
436    21.000000
437    24.000000
438    64.000000
439    31.000000
440    45.000000
441    20.000000
442    25.000000
443    28.000000
444    23.476432
445     4.000000
446    13.000000
447    34.000000
448     5.000000
449    52.000000
450    36.000000
451    24.108999
452    30.000000
453    49.000000
454    30.705727
455    29.000000
456    65.000000
457    44.060018
458    50.000000
459    35.295824
460    48.000000
461    34.000000
462    47.000000
463    48.000000
464    30.705727
465    38.000000
466    35.051818
467    56.000000
468    19.895581
469     0.750000
470    29.782796
471    38.000000
472    33.000000
473    23.000000
474    22.000000
475    44.659531
476    34.000000
477    29.000000
478    22.000000
479     2.000000
480     9.000000
481    35.051818
482    50.000000
483    63.000000
484    25.000000
485     7.309547
486    35.000000
487    58.000000
488    30.000000
489     9.000000
490    24.108999
491    21.000000
492    55.000000
493    71.000000
494    21.000000
495    18.194795
496    54.000000
497    25.755475
498    25.000000
499    24.000000
500    17.000000
501    21.000000
502    26.820733
503    37.000000
504    16.000000
505    18.000000
506    33.000000
507    49.899409
508    28.000000
509    26.000000
510    29.000000
511    30.705727
512    36.000000
513    54.000000
514    24.000000
515    47.000000
516    34.000000
517    34.173749
518    36.000000
519    32.000000
520    30.000000
521    22.000000
522    29.518205
523    44.000000
524    22.876307
525    40.500000
526    50.000000
527    38.515500
528    39.000000
529    23.000000
530     2.000000
531    22.876307
532    17.000000
533     8.013703
534    30.000000
535     7.000000
536    45.000000
537    30.000000
538    24.330217
539    22.000000
540    36.000000
541     9.000000
542    11.000000
543    32.000000
544    50.000000
545    64.000000
546    19.000000
547    32.795024
548    33.000000
549     8.000000
550    17.000000
551    27.000000
552    26.381425
553    22.000000
554    22.000000
555    62.000000
556    48.000000
557    38.515500
558    39.000000
559    36.000000
560    35.295824
561    40.000000
562    28.000000
563    30.705727
564    30.705727
565    24.000000
566    19.000000
567    29.000000
568    22.876307
569    32.000000
570    62.000000
571    53.000000
572    36.000000
573    35.295824
574    16.000000
575    19.000000
576    34.000000
577    39.000000
578    20.070168
579    32.000000
580    25.000000
581    39.000000
582    54.000000
583    36.000000
584    29.042939
585    18.000000
586    47.000000
587    60.000000
588    22.000000
589    30.705727
590    35.000000
591    52.000000
592    47.000000
593    27.456394
594    37.000000
595    36.000000
596    24.402355
597    49.000000
598    29.518205
599    49.000000
600    24.000000
601    27.947206
602    37.516158
603    44.000000
604    35.000000
605    36.000000
606    30.000000
607    27.000000
608    22.000000
609    40.000000
610    39.000000
611    27.868737
612    33.128985
613    35.295824
614    35.000000
615    24.000000
616    34.000000
617    26.000000
618     4.000000
619    26.000000
620    27.000000
621    42.000000
622    20.000000
623    21.000000
624    21.000000
625    61.000000
626    57.000000
627    21.000000
628    26.000000
629    19.895581
630    80.000000
631    51.000000
632    32.000000
633    38.834775
634     9.000000
635    28.000000
636    32.000000
637    31.000000
638    41.000000
639    26.689168
640    20.000000
641    24.000000
642     2.000000
643    29.568898
644     0.750000
645    48.000000
646    19.000000
647    56.000000
648    31.108385
649    23.000000
650    27.947206
651    18.000000
652    21.000000
653    26.381425
654    18.000000
655    24.000000
656    27.947206
657    32.000000
658    23.000000
659    58.000000
660    50.000000
661    40.000000
662    47.000000
663    36.000000
664    20.000000
665    32.000000
666    25.000000
667    27.515454
668    43.000000
669    39.088178
670    40.000000
671    31.000000
672    70.000000
673    31.000000
674    35.051818
675    18.000000
676    24.500000
677    18.000000
678    43.000000
679    36.000000
680    23.476432
681    27.000000
682    20.000000
683    14.000000
684    60.000000
685    25.000000
686    14.000000
687    19.000000
688    18.000000
689    15.000000
690    31.000000
691     4.000000
692    29.568898
693    25.000000
694    60.000000
695    52.000000
696    44.000000
697    19.895581
698    49.000000
699    42.000000
700    18.000000
701    35.000000
702    18.000000
703    25.000000
704    26.000000
705    39.000000
706    45.000000
707    42.000000
708    22.000000
709    17.099916
710    24.000000
711    49.899409
712    48.000000
713    29.000000
714    52.000000
715    19.000000
716    38.000000
717    27.000000
718    27.308874
719    33.000000
720     6.000000
721    17.000000
722    34.000000
723    50.000000
724    27.000000
725    20.000000
726    30.000000
727    19.895581
728    25.000000
729    25.000000
730    29.000000
731    11.000000
732    35.051818
733    23.000000
734    23.000000
735    28.500000
736    48.000000
737    35.000000
738    27.947206
739    27.947206
740    38.426632
741    36.000000
742    21.000000
743    24.000000
744    31.000000
745    70.000000
746    16.000000
747    30.000000
748    19.000000
749    31.000000
750     4.000000
751     6.000000
752    33.000000
753    23.000000
754    48.000000
755     0.670000
756    28.000000
757    18.000000
758    34.000000
759    33.000000
760    24.330217
761    41.000000
762    20.000000
763    36.000000
764    16.000000
765    51.000000
766    39.174902
767    30.500000
768    33.551176
769    32.000000
770    24.000000
771    48.000000
772    57.000000
773    29.518205
774    54.000000
775    18.000000
776    35.295824
777     5.000000
778    19.895581
779    43.000000
780    13.000000
781    17.000000
782    29.000000
783    16.193950
784    25.000000
785    25.000000
786    18.000000
787     8.000000
788     1.000000
789    46.000000
790    35.295824
791    16.000000
792    10.869867
793    50.383284
794    25.000000
795    39.000000
796    49.000000
797    31.000000
798    30.000000
799    30.000000
800    34.000000
801    31.000000
802    11.000000
803     0.420000
804    27.000000
805    31.000000
806    39.000000
807    18.000000
808    39.000000
809    33.000000
810    26.000000
811    39.000000
812    35.000000
813     6.000000
814    30.500000
815    38.834775
816    23.000000
817    31.000000
818    43.000000
819    10.000000
820    52.000000
821    27.000000
822    38.000000
823    27.000000
824     2.000000
825    35.097879
826    29.568898
827     1.000000
828    35.295824
829    62.000000
830    15.000000
831     0.830000
832    22.876307
833    23.000000
834    18.000000
835    39.000000
836    21.000000
837    30.705727
838    32.000000
839    50.910950
840    20.000000
841    16.000000
842    30.000000
843    34.500000
844    17.000000
845    42.000000
846    10.869867
847    35.000000
848    28.000000
849    43.964764
850     4.000000
851    74.000000
852     9.000000
853    16.000000
854    44.000000
855    18.000000
856    45.000000
857    51.000000
858    24.000000
859    22.876307
860    41.000000
861    21.000000
862    48.000000
863    10.869867
864    24.000000
865    42.000000
866    27.000000
867    31.000000
868    25.977889
869     4.000000
870    26.000000
871    47.000000
872    33.000000
873    47.000000
874    28.000000
875    15.000000
876    20.000000
877    19.000000
878    27.947206
879    56.000000
880    25.000000
881    33.000000
882    22.000000
883    28.000000
884    25.000000
885    39.000000
886    27.000000
887    19.000000
888    16.193950
889    26.000000
890    32.000000
Name: Age, dtype: float64

In [262]:
import sklearn.preprocessing as preprocessing

age = np.array(df['Age']).reshape(-1, 1)
scaler = preprocessing.StandardScaler().fit(age)
data_train['Age_scaled'] = scaler.transform(age)

fare = np.array(df['Fare']).reshape(-1, 1)
scaler = preprocessing.StandardScaler().fit(fare)
df['Fare_scaled'] = scaler.transform(fare)
df.drop(['Age', 'Fare'], axis=1, inplace=True)
df

,PassengerId,Survived,SibSp,Parch,Cabin_No,Cabin_Yes,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Fare_scaled
0,1,0,1,0,1,0,0,0,1,0,1,0,0,1,-0.502445
1,2,1,1,0,0,1,1,0,0,1,0,1,0,0,0.786845
2,3,1,0,0,1,0,0,0,1,1,0,0,0,1,-0.488854
3,4,1,1,0,0,1,0,0,1,1,0,1,0,0,0.420730
4,5,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
5,6,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.478116
6,7,0,0,0,0,1,0,0,1,0,1,1,0,0,0.395814
7,8,0,3,1,1,0,0,0,1,0,1,0,0,1,-0.224083
8,9,1,0,2,1,0,0,0,1,1,0,0,0,1,-0.424256
9,10,1,1,0,1,0,1,0,0,1,0,0,1,0,-0.042956
10,11,1,1,1,0,1,0,0,1,1,0,0,0,1,-0.312172
11,12,1,0,0,0,1,0,0,1,1,0,1,0,0,-0.113846
12,13,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
13,14,0,1,5,1,0,0,0,1,0,1,0,0,1,-0.018709
14,15,0,0,0,1,0,0,0,1,1,0,0,0,1,-0.490280
15,16,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.326267
16,17,0,4,1,1,0,0,1,0,0,1,0,0,1,-0.061999
17,18,1,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
18,19,0,1,0,1,0,0,0,1,1,0,0,0,1,-0.285997
19,20,1,0,0,1,0,1,0,0,1,0,0,0,1,-0.502949
20,21,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.124920
21,22,1,0,0,0,1,0,0,1,0,1,0,1,0,-0.386671
22,23,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.486756
23,24,1,0,0,0,1,0,0,1,0,1,1,0,0,0.066360
24,25,0,3,1,1,0,0,0,1,1,0,0,0,1,-0.224083
25,26,1,1,5,1,0,0,0,1,1,0,0,0,1,-0.016444
26,27,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.502949
27,28,0,3,2,0,1,0,0,1,0,1,1,0,0,4.647001
28,29,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.489776
29,30,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
30,31,0,0,0,1,0,1,0,0,0,1,1,0,0,-0.090272
31,32,1,1,0,0,1,1,0,0,1,0,1,0,0,2.301729
32,33,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.492378
33,34,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
34,35,0,1,0,1,0,1,0,0,0,1,1,0,0,1.006062
35,36,0,1,0,1,0,0,0,1,0,1,1,0,0,0.398582
36,37,1,0,0,1,0,1,0,0,0,1,0,0,1,-0.502864
37,38,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
38,39,0,2,0,1,0,0,0,1,1,0,0,0,1,-0.285997
39,40,1,1,0,1,0,1,0,0,1,0,0,0,1,-0.422074
40,41,0,1,0,1,0,0,0,1,1,0,0,0,1,-0.457645
41,42,0,1,0,1,0,0,0,1,1,0,0,1,0,-0.225593
42,43,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.489442
43,44,1,1,2,1,0,1,0,0,1,0,0,1,0,0.188763
44,45,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.489776
45,46,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
46,47,0,1,0,1,0,0,1,0,0,1,0,0,1,-0.336334
47,48,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.492378
48,49,0,2,0,1,0,1,0,0,0,1,0,0,1,-0.211918
49,50,0,1,0,1,0,0,0,1,1,0,0,0,1,-0.290024
50,51,0,4,1,1,0,0,0,1,0,1,0,0,1,0.150674
51,52,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.491371
52,53,1,1,0,0,1,1,0,0,1,0,1,0,0,0.896497
53,54,1,1,0,1,0,0,0,1,1,0,0,1,0,-0.124920
54,55,0,0,1,0,1,1,0,0,0,1,1,0,0,0.599510
55,56,1,0,0,0,1,0,0,1,0,1,1,0,0,0.066360
56,57,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.437007
57,58,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.502864
58,59,1,1,2,1,0,0,0,1,1,0,0,1,0,-0.089684
59,60,0,5,2,1,0,0,0,1,0,1,0,0,1,0.295895
60,61,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.502864
61,62,1,0,0,0,1,0,0,0,1,0,1,0,0,0.962353
62,63,0,1,0,0,1,0,0,1,0,1,1,0,0,1.032321
63,64,0,3,2,1,0,0,0,1,0,1,0,0,1,-0.086664
64,65,0,0,0,1,0,1,0,0,0,1,1,0,0,-0.090272
65,66,1,1,1,1,0,1,0,0,0,1,0,0,1,-0.341452
66,67,1,0,0,0,1,0,0,1,1,0,0,1,0,-0.437007
67,68,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.484157
68,69,1,4,2,1,0,0,0,1,1,0,0,0,1,-0.488854
69,70,0,2,0,1,0,0,0,1,0,1,0,0,1,-0.474005
70,71,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
71,72,0,5,2,1,0,0,0,1,1,0,0,0,1,0.295895
72,73,0,0,0,1,0,0,0,1,0,1,0,1,0,0.831478
73,74,0,1,0,1,0,1,0,0,0,1,0,0,1,-0.357391
74,75,1,0,0,1,0,0,0,1,0,1,0,0,1,0.489104
75,76,0,0,0,0,1,0,0,1,0,1,0,0,1,-0.494391
76,77,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
77,78,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
78,79,1,0,2,1,0,0,0,1,0,1,0,1,0,-0.064516
79,80,1,0,0,1,0,0,0,1,1,0,0,0,1,-0.397241
80,81,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.467209
81,82,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.457142
82,83,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.491623
83,84,0,0,0,1,0,0,0,1,0,1,1,0,0,0.299922
84,85,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.437007
85,86,1,3,0,1,0,0,0,1,1,0,0,0,1,-0.329287
86,87,0,1,3,1,0,0,0,1,0,1,0,0,1,0.043708
87,88,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
88,89,1,3,2,0,1,0,0,1,1,0,1,0,0,4.647001
89,90,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
90,91,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
91,92,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.490280
92,93,0,1,0,0,1,0,0,1,0,1,1,0,0,0.583318
93,94,0,1,2,1,0,0,0,1,0,1,0,0,1,-0.234150
94,95,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.502445
95,96,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
96,97,0,0,0,0,1,1,0,0,0,1,1,0,0,0.049330
97,98,1,0,1,0,1,1,0,0,0,1,1,0,0,0.627278
98,99,1,0,1,1,0,0,0,1,1,0,0,1,0,-0.185324
99,100,0,1,0,1,0,0,0,1,0,1,0,1,0,-0.124920
100,101,0,0,0,1,0,0,0,1,1,0,0,0,1,-0.489442
101,102,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
102,103,0,0,1,0,1,0,0,1,0,1,1,0,0,0.907738
103,104,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.474172
104,105,0,2,0,1,0,0,0,1,0,1,0,0,1,-0.488854
105,106,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
106,107,1,0,0,1,0,0,0,1,1,0,0,0,1,-0.494391
107,108,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.491874
108,109,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
109,110,1,1,0,1,0,0,1,0,1,0,0,0,1,-0.162169
110,111,0,0,0,0,1,0,0,1,0,1,1,0,0,0.398582
111,112,0,1,0,1,0,1,0,0,1,0,0,0,1,-0.357391
112,113,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
113,114,0,1,0,1,0,0,0,1,1,0,0,0,1,-0.450598
114,115,0,0,0,1,0,1,0,0,1,0,0,0,1,-0.357308
115,116,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.488854
116,117,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.492378
117,118,0,1,0,1,0,0,0,1,0,1,0,1,0,-0.225593
118,119,0,0,1,0,1,1,0,0,0,1,1,0,0,4.335332
119,120,0,4,2,1,0,0,0,1,1,0,0,0,1,-0.018709
120,121,0,2,0,1,0,0,0,1,0,1,0,1,0,0.831478
121,122,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
122,123,0,1,0,1,0,1,0,0,0,1,0,1,0,-0.042956
123,124,1,0,0,0,1,0,0,1,1,0,0,1,0,-0.386671
124,125,0,0,1,0,1,0,0,1,0,1,1,0,0,0.907738
125,126,1,1,0,1,0,1,0,0,0,1,0,0,1,-0.422074
126,127,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.492378
127,128,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.504626
128,129,1,1,1,0,1,1,0,0,1,0,0,0,1,-0.198244
129,130,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.507982
130,131,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.489442
131,132,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.506472
132,133,0,1,0,1,0,0,0,1,1,0,0,0,1,-0.356469
133,134,1,1,0,1,0,0,0,1,1,0,0,1,0,-0.124920
134,135,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
135,136,0,0,0,1,0,1,0,0,0,1,0,1,0,-0.345479
136,137,1,0,2,0,1,0,0,1,1,0,1,0,0,-0.119216
137,138,0,1,0,0,1,0,0,1,0,1,1,0,0,0.420730
138,139,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.462846
139,140,0,0,0,0,1,1,0,0,0,1,1,0,0,0.946246
140,141,0,0,2,1,0,1,0,0,1,0,0,0,1,-0.341452
141,142,1,0,0,1,0,0,0,1,1,0,0,0,1,-0.492378
142,143,1,1,0,1,0,0,0,1,1,0,0,0,1,-0.329287
143,144,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.512513
144,145,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.416873
145,146,0,1,1,1,0,0,0,1,0,1,0,1,0,0.091528
146,147,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.491456
147,148,0,2,2,1,0,0,0,1,1,0,0,0,1,0.043708
148,149,0,0,2,0,1,0,0,1,0,1,0,1,0,-0.124920
149,150,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
150,151,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.396235
151,152,1,1,0,0,1,0,0,1,1,0,1,0,0,0.692549
152,153,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
153,154,0,0,2,1,0,0,0,1,0,1,0,0,1,-0.356469
154,155,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.501187
155,156,0,0,1,1,0,1,0,0,0,1,1,0,0,0.587429
156,157,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.492714
157,158,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
158,159,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.474005
159,160,0,8,2,1,0,0,0,1,0,1,0,0,1,0.751946
160,161,0,0,1,1,0,0,0,1,0,1,0,0,1,-0.324253
161,162,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.331300
162,163,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.491874
163,164,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.474005
164,165,0,4,1,1,0,0,0,1,0,1,0,0,1,0.150674
165,166,1,0,2,1,0,0,0,1,0,1,0,0,1,-0.235157
166,167,1,0,1,0,1,0,0,1,1,0,1,0,0,0.458986
167,168,0,1,4,1,0,0,0,1,1,0,0,0,1,-0.086664
168,169,0,0,0,1,0,0,0,1,0,1,1,0,0,-0.126430
169,170,0,0,0,1,0,0,0,1,0,1,0,0,1,0.489104
170,171,0,0,0,0,1,0,0,1,0,1,1,0,0,0.026090
171,172,0,4,1,1,0,0,1,0,0,1,0,0,1,-0.061999
172,173,1,1,1,1,0,0,0,1,1,0,0,0,1,-0.424256
173,174,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.488854
174,175,0,0,0,0,1,1,0,0,0,1,1,0,0,-0.030371
175,176,0,1,1,1,0,0,0,1,0,1,0,0,1,-0.490280
176,177,0,3,1,1,0,0,0,1,0,1,0,0,1,-0.135658
177,178,0,0,0,0,1,1,0,0,1,0,1,0,0,-0.070304
178,179,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
179,180,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.648422
180,181,0,8,2,1,0,0,0,1,1,0,0,0,1,0.751946
181,182,0,0,0,1,0,1,0,0,0,1,0,1,0,-0.345395
182,183,0,4,2,1,0,0,0,1,0,1,0,0,1,-0.016444
183,184,1,2,1,0,1,0,0,1,0,1,0,1,0,0.136831
184,185,1,0,2,1,0,0,0,1,1,0,0,0,1,-0.204955
185,186,0,0,0,0,1,0,0,1,0,1,1,0,0,0.358313
186,187,1,1,0,1,0,0,1,0,1,0,0,0,1,-0.336334
187,188,1,0,0,1,0,0,0,1,0,1,1,0,0,-0.113846
188,189,0,1,1,1,0,0,1,0,0,1,0,0,1,-0.336334
189,190,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
190,191,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.386671
191,192,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
192,193,1,1,0,1,0,0,0,1,1,0,0,0,1,-0.490280
193,194,1,1,1,0,1,0,0,1,0,1,0,1,0,-0.124920
194,195,1,0,0,0,1,1,0,0,1,0,1,0,0,-0.090272
195,196,1,0,0,0,1,1,0,0,1,0,1,0,0,2.301729
196,197,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.492378
197,198,0,0,1,1,0,0,0,1,0,1,0,0,1,-0.479206
198,199,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.492378
199,200,0,0,0,1,0,0,0,1,1,0,0,1,0,-0.386671
200,201,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.457142
201,202,0,8,2,1,0,0,0,1,0,1,0,0,1,0.751946
202,203,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.517631
203,204,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.502949
204,205,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
205,206,0,0,1,0,1,0,0,1,1,0,0,0,1,-0.437762
206,207,0,1,0,1,0,0,0,1,0,1,0,0,1,-0.329287
207,208,1,0,0,1,0,1,0,0,0,1,0,0,1,-0.270141
208,209,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.492378
209,210,1,0,0,0,1,1,0,0,0,1,1,0,0,-0.024246
210,211,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.506472
211,212,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.225593
212,213,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.502445
213,214,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
214,215,0,1,0,1,0,0,1,0,0,1,0,0,1,-0.492378
215,216,1,1,0,0,1,1,0,0,1,0,1,0,0,1.632335
216,217,1,0,0,1,0,0,0,1,1,0,0,0,1,-0.488854
217,218,0,1,0,1,0,0,0,1,0,1,0,1,0,-0.104785
218,219,1,0,0,0,1,1,0,0,1,0,1,0,0,0.887688
219,220,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
220,221,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
221,222,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
222,223,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
223,224,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
224,225,1,1,0,0,1,0,0,1,0,1,1,0,0,1.163700
225,226,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.460162
226,227,1,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
227,228,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.502445
228,229,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
229,230,0,3,1,1,0,0,0,1,1,0,0,0,1,-0.135658
230,231,1,1,0,0,1,0,0,1,1,0,1,0,0,1.032321
231,232,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.491874
232,233,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.376603
233,234,1,4,2,1,0,0,0,1,1,0,0,0,1,-0.016444
234,235,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
235,236,0,0,0,1,0,0,0,1,1,0,0,0,1,-0.496405
236,237,0,1,0,1,0,0,0,1,0,1,0,1,0,-0.124920
237,238,1,0,2,1,0,0,0,1,1,0,0,1,0,-0.119886
238,239,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
239,240,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.401268
240,241,0,1,0,1,0,1,0,0,1,0,0,0,1,-0.357391
241,242,1,1,0,1,0,0,1,0,1,0,0,0,1,-0.336334
242,243,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
243,244,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.504962
244,245,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.502949
245,246,0,2,0,0,1,0,1,0,0,1,1,0,0,1.163700
246,247,0,0,0,1,0,0,0,1,1,0,0,0,1,-0.491874
247,248,1,0,2,1,0,0,0,1,1,0,0,1,0,-0.356469
248,249,1,1,1,0,1,0,0,1,0,1,1,0,0,0.409741
249,250,0,1,0,1,0,0,0,1,0,1,0,1,0,-0.124920
250,251,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.502445
251,252,0,1,1,0,1,0,0,1,1,0,0,0,1,-0.437762
252,253,0,0,0,0,1,0,0,1,0,1,1,0,0,-0.113846
253,254,0,1,0,1,0,0,0,1,0,1,0,0,1,-0.324253
254,255,0,0,2,1,0,0,0,1,1,0,0,0,1,-0.241449
255,256,1,0,2,1,0,1,0,0,1,0,0,0,1,-0.341452
256,257,1,0,0,1,0,1,0,0,1,0,1,0,0,0.946246
257,258,1,0,0,0,1,0,0,1,1,0,1,0,0,1.093229
258,259,1,0,0,1,0,1,0,0,1,0,1,0,0,9.667167
259,260,1,0,1,1,0,0,0,1,1,0,0,1,0,-0.124920
260,261,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.492378
261,262,1,4,2,1,0,0,0,1,0,1,0,0,1,-0.016444
262,263,0,1,1,0,1,0,0,1,0,1,1,0,0,0.955306
263,264,0,0,0,0,1,0,0,1,0,1,1,0,0,-0.648422
264,265,0,0,0,1,0,0,1,0,1,0,0,0,1,-0.492378
265,266,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
266,267,0,4,1,1,0,0,0,1,0,1,0,0,1,0.150674
267,268,1,1,0,1,0,0,0,1,0,1,0,0,1,-0.491874
268,269,1,0,1,0,1,0,0,1,1,0,1,0,0,2.441498
269,270,1,0,0,0,1,0,0,1,1,0,1,0,0,2.082512
270,271,0,0,0,1,0,0,0,1,0,1,1,0,0,-0.024246
271,272,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.648422
272,273,1,0,1,1,0,0,0,1,1,0,0,1,0,-0.255795
273,274,0,0,1,0,1,1,0,0,0,1,1,0,0,-0.050421
274,275,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.492378
275,276,1,1,0,0,1,0,0,1,1,0,1,0,0,0.921244
276,277,0,0,0,1,0,0,0,1,1,0,0,0,1,-0.492378
277,278,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.648422
278,279,0,4,1,1,0,0,1,0,0,1,0,0,1,-0.061999
279,280,1,1,1,1,0,0,0,1,1,0,0,0,1,-0.240694
280,281,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.492378
281,282,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.490280
282,283,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.457142
283,284,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
284,285,0,0,0,0,1,0,0,1,0,1,1,0,0,-0.124920
285,286,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.474005
286,287,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.457142
287,288,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
288,289,1,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
289,290,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.492378
290,291,1,0,0,1,0,0,0,1,1,0,1,0,0,0.939198
291,292,1,1,0,0,1,1,0,0,1,0,1,0,0,1.185430
292,293,0,0,0,0,1,1,0,0,0,1,0,1,0,-0.389188
293,294,0,0,0,1,0,0,0,1,1,0,0,0,1,-0.470230
294,295,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
295,296,0,0,0,1,0,1,0,0,0,1,1,0,0,-0.090272
296,297,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.502864
297,298,0,1,2,0,1,0,0,1,1,0,1,0,0,2.402990
298,299,1,0,0,0,1,0,0,1,0,1,1,0,0,-0.034314
299,300,1,0,1,0,1,1,0,0,1,0,1,0,0,4.335332
300,301,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.492378
301,302,1,2,0,1,0,0,1,0,0,1,0,0,1,-0.180290
302,303,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.648422
303,304,1,0,0,0,1,0,1,0,1,0,0,1,0,-0.399758
304,305,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
305,306,1,1,2,0,1,0,0,1,0,1,1,0,0,2.402990
306,307,1,0,0,1,0,1,0,0,1,0,1,0,0,1.584179
307,308,1,1,0,0,1,1,0,0,1,0,1,0,0,1.544246
308,309,0,1,0,1,0,1,0,0,0,1,0,1,0,-0.165189
309,310,1,0,0,0,1,1,0,0,1,0,1,0,0,0.497830
310,311,1,0,0,0,1,1,0,0,1,0,1,0,0,1.025945
311,312,1,2,2,0,1,1,0,0,1,0,1,0,0,4.634417
312,313,0,1,1,1,0,0,0,1,1,0,0,1,0,-0.124920
313,314,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
314,315,0,1,1,1,0,0,0,1,0,1,0,1,0,-0.119886
315,316,1,0,0,1,0,0,0,1,1,0,0,0,1,-0.490280
316,317,1,1,0,1,0,0,0,1,1,0,0,1,0,-0.124920
317,318,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.366536
318,319,1,0,2,0,1,0,0,1,1,0,1,0,0,2.671118
319,320,1,1,1,0,1,1,0,0,1,0,1,0,0,2.059694
320,321,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.502445
321,322,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
322,323,1,0,0,1,0,0,1,0,1,0,0,1,0,-0.399758
323,324,1,1,1,1,0,0,0,1,1,0,0,1,0,-0.064516
324,325,0,8,2,1,0,0,0,1,0,1,0,0,1,0.751946
325,326,1,0,0,0,1,1,0,0,1,0,1,0,0,2.082512
326,327,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.522832
327,328,1,0,0,0,1,0,0,1,1,0,0,1,0,-0.386671
328,329,1,1,1,1,0,0,0,1,1,0,0,0,1,-0.235157
329,330,1,0,1,0,1,1,0,0,1,0,1,0,0,0.518971
330,331,1,2,0,1,0,0,1,0,1,0,0,0,1,-0.180290
331,332,0,0,0,0,1,0,0,1,0,1,1,0,0,-0.074583
332,333,0,0,1,0,1,0,0,1,0,1,1,0,0,2.441498
333,334,0,2,0,1,0,0,0,1,0,1,0,0,1,-0.285997
334,335,1,1,0,1,0,0,0,1,1,0,1,0,0,2.042579
335,336,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
336,337,0,1,0,0,1,0,0,1,0,1,1,0,0,0.692549
337,338,1,0,0,0,1,1,0,0,1,0,1,0,0,2.059694
338,339,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
339,340,0,0,0,0,1,0,0,1,0,1,1,0,0,0.066360
340,341,1,1,1,0,1,0,0,1,0,1,0,1,0,-0.124920
341,342,1,3,2,0,1,0,0,1,1,0,1,0,0,4.647001
342,343,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
343,344,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
344,345,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
345,346,1,0,0,0,1,0,0,1,1,0,0,1,0,-0.386671
346,347,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.386671
347,348,1,1,0,1,0,0,0,1,1,0,0,0,1,-0.324253
348,349,1,1,1,1,0,0,0,1,0,1,0,0,1,-0.328280
349,350,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.474005
350,351,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.462679
351,352,0,0,0,0,1,0,0,1,0,1,1,0,0,0.056292
352,353,0,1,1,1,0,1,0,0,0,1,0,0,1,-0.502864
353,354,0,1,0,1,0,0,0,1,0,1,0,0,1,-0.290024
354,355,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.502949
355,356,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.457142
356,357,1,0,1,0,1,0,0,1,1,0,1,0,0,0.458986
357,358,0,0,0,1,0,0,0,1,1,0,0,1,0,-0.386671
358,359,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.489776
359,360,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.489776
360,361,0,1,4,1,0,0,0,1,0,1,0,0,1,-0.086664
361,362,0,1,0,1,0,1,0,0,0,1,0,1,0,-0.090272
362,363,0,0,1,1,0,1,0,0,1,0,0,0,1,-0.357391
363,364,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.506472
364,365,0,1,0,1,0,0,1,0,0,1,0,0,1,-0.336334
365,366,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.502445
366,367,1,1,0,0,1,1,0,0,1,0,1,0,0,0.866714
367,368,1,0,0,1,0,1,0,0,1,0,0,0,1,-0.502864
368,369,1,0,0,1,0,0,1,0,1,0,0,0,1,-0.492378
369,370,1,0,0,0,1,1,0,0,1,0,1,0,0,0.746912
370,371,1,1,0,0,1,1,0,0,0,1,1,0,0,0.467880
371,372,0,1,0,1,0,0,0,1,0,1,0,0,1,-0.517631
372,373,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
373,374,0,0,0,1,0,1,0,0,0,1,1,0,0,2.082512
374,375,0,3,1,1,0,0,0,1,1,0,0,0,1,-0.224083
375,376,1,1,0,1,0,1,0,0,1,0,1,0,0,1.006062
376,377,1,0,0,1,0,0,0,1,1,0,0,0,1,-0.502445
377,378,0,0,2,0,1,1,0,0,0,1,1,0,0,3.610065
378,379,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.567631
379,380,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.491874
380,381,1,0,0,1,0,1,0,0,1,0,1,0,0,3.932723
381,382,1,0,2,1,0,1,0,0,1,0,0,0,1,-0.331467
382,383,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.488854
383,384,1,1,0,1,0,0,0,1,1,0,1,0,0,0.398582
384,385,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
385,386,0,0,0,1,0,0,0,1,0,1,0,1,0,0.831478
386,387,0,5,2,1,0,0,0,1,0,1,0,0,1,0.295895
387,388,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.386671
388,389,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.492797
389,390,1,0,0,1,0,1,0,0,1,0,0,1,0,-0.406805
390,391,1,1,2,0,1,0,0,1,0,1,1,0,0,1.767741
391,392,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.491456
392,393,0,2,0,1,0,0,0,1,0,1,0,0,1,-0.488854
393,394,1,1,0,0,1,1,0,0,1,0,1,0,0,1.632335
394,395,1,0,2,0,1,0,0,1,1,0,0,0,1,-0.312172
395,396,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.491456
396,397,0,0,0,1,0,0,0,1,1,0,0,0,1,-0.490280
397,398,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.124920
398,399,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
399,400,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.393718
400,401,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.488854
401,402,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
402,403,0,1,0,1,0,0,0,1,1,0,0,0,1,-0.450598
403,404,0,1,0,1,0,0,0,1,0,1,0,0,1,-0.329287
404,405,0,0,0,1,0,0,0,1,1,0,0,0,1,-0.474005
405,406,0,1,0,1,0,0,0,1,0,1,0,1,0,-0.225593
406,407,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.492378
407,408,1,1,1,1,0,0,0,1,0,1,0,1,0,-0.270896
408,409,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.491874
409,410,0,3,1,1,0,0,0,1,1,0,0,0,1,-0.135658
410,411,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489442
411,412,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.510332
412,413,1,1,0,0,1,0,1,0,1,0,1,0,0,1.163700
413,414,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.648422
414,415,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.488854
415,416,0,0,0,1,0,0,0,1,1,0,0,0,1,-0.486337
416,417,1,1,1,1,0,0,0,1,1,0,0,1,0,0.005956
417,418,1,0,2,1,0,0,0,1,1,0,0,1,0,-0.386671
418,419,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.386671
419,420,0,0,2,1,0,0,0,1,1,0,0,0,1,-0.162169
420,421,0,0,0,1,0,1,0,0,0,1,0,0,1,-0.489442
421,422,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.492714
422,423,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.489861
423,424,0,1,1,1,0,0,0,1,1,0,0,0,1,-0.358482
424,425,0,1,1,1,0,0,0,1,0,1,0,0,1,-0.241449
425,426,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.502445
426,427,1,1,0,1,0,0,0,1,1,0,0,1,0,-0.124920
427,428,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.124920
428,429,0,0,0,1,0,0,1,0,0,1,0,0,1,-0.492378
429,430,1,0,0,0,1,0,0,1,0,1,0,0,1,-0.486337
430,431,1,0,0,0,1,0,0,1,0,1,1,0,0,-0.113846
431,432,1,1,0,1,0,0,0,1,1,0,0,0,1,-0.324253
432,433,1,1,0,1,0,0,0,1,1,0,0,1,0,-0.124920
433,434,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.504962
434,435,0,1,0,0,1,0,0,1,0,1,1,0,0,0.477107
435,436,1,1,2,0,1,0,0,1,1,0,1,0,0,1.767741
436,437,0,2,2,1,0,0,0,1,1,0,0,0,1,0.043708
437,438,1,2,3,1,0,0,0,1,1,0,0,1,0,-0.270896
438,439,0,1,4,0,1,0,0,1,0,1,1,0,0,4.647001
439,440,0,0,0,1,0,0,0,1,0,1,0,1,0,-0.437007
440,441,1,1,1,1,0,0,0,1,1,0,0,1,0,-0.119886
441,442,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.457142
442,443,0,1,0,1,0,0,0,1,0,1,0,0,1,-0.491874
443,444,1,0,0,1,0,0,0,1,1,0,0,1,0,-0.386671
444,445,1,0,0,1,0,0,0,1,0,1,0,0,1,-0.485079
445,446,1,0,2,0,1,0,0,1,0,1,1,0,0,0.999770
446,447,1,0,1,1,0,0,0,1,1,0,0,1,0,-0.255795
447,448,1,0,0,1,0,0,0,1,0,1,1,0,0,-0.113846
448,449,1,2,1,1,0,1,0,0,1,0,0,0,1,-0.260662
449,450,1,0,0,0,1,0,0,1,0,1,1,0,0,-0.034314
450,451,0,1,2,1,0,0,0,1,0,1,0,1,0,-0.089684
451,452,0,1,0,1,0,0,0,1,0,1,0,0,1,-0.246398
452,453,0,0,0,0,1,1,0,0,0,1,1,0,0,-0.089684
453,454,1,1,0,0,1,1,0,0,0,1,1,0,0,1.145664
454,455,0,0,0,1,0,0,0,1,0,1,0,0,1,-0.486337
455,456,1,0,0,1,0,1,0,0,0,1,0,0,1,-0.489442
456,457,0,0,0,0,1,0,0,1,0,1,1,0,0,-0.113846
457,458,1,1,0,0,1,0,0,1,1,0,1,0,0,0.395814

In [272]:
from sklearn import linear_model

train_df = df.filter(regex='Survived|Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
train_np = train_df.as_matrix()
y = train_np[:, 0]
X = train_np[:, 1:]
clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6)
clf.fit(X, y)

clf

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=1e-06,
          verbose=0, warm_start=False)

In [47]:
data_test = pd.read_csv("./data/test.csv")
data_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.00,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.00,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.00,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.00,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.00,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.00,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.00,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.00,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.50,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.00,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
30,922,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,SC/AH 3085,26.0000,NaN,S
31,923,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,C.A. 31029,31.5000,NaN,S
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
34,926,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,13236,57.7500,C78,C
35,927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,2682,7.2292,NaN,C
36,928,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S
37,929,3,"Cacic, Miss. Manda",female,21.00,0,0,315087,8.6625,NaN,S
38,930,3,"Sap, Mr. Julius",male,25.00,0,0,345768,9.5000,NaN,S
39,931,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S
40,932,3,"Karun, Mr. Franz",male,39.00,0,1,349256,13.4167,NaN,C
41,933,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S
42,934,3,"Goldsmith, Mr. Nathan",male,41.00,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
43,935,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.00,0,0,237249,13.0000,NaN,S
44,936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.00,1,0,11753,52.5542,D19,S
45,937,3,"Peltomaki, Mr. Nikolai Johannes",male,25.00,0,0,STON/O 2. 3101291,7.9250,NaN,S
46,938,1,"Chevre, Mr. Paul Romaine",male,45.00,0,0,PC 17594,29.7000,A9,C
47,939,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
48,940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,C.A. 37671,15.9000,NaN,S
50,942,1,"Smith, Mr. Lucien Philip",male,24.00,1,0,13695,60.0000,C31,S
51,943,2,"Pulbaum, Mr. Franz",male,27.00,0,0,SC/PARIS 2168,15.0333,NaN,C
52,944,2,"Hocking, Miss. Ellen Nellie""""",female,20.00,2,1,29105,23.0000,NaN,S
53,945,1,"Fortune, Miss. Ethel Flora",female,28.00,3,2,19950,263.0000,C23 C25 C27,S
54,946,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
55,947,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,NaN,Q
56,948,3,"Cor, Mr. Bartol",male,35.00,0,0,349230,7.8958,NaN,S
57,949,3,"Abelseth, Mr. Olaus Jorgensen",male,25.00,0,0,348122,7.6500,F G63,S
58,950,3,"Davison, Mr. Thomas Henry",male,NaN,1,0,386525,16.1000,NaN,S
59,951,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C
60,952,3,"Dika, Mr. Mirko",male,17.00,0,0,349232,7.8958,NaN,S
61,953,2,"McCrae, Mr. Arthur Gordon",male,32.00,0,0,237216,13.5000,NaN,S
62,954,3,"Bjorklund, Mr. Ernst Herbert",male,18.00,0,0,347090,7.7500,NaN,S
63,955,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,334914,7.7250,NaN,Q
64,956,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
65,957,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",female,NaN,0,0,F.C.C. 13534,21.0000,NaN,S
66,958,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
67,959,1,"Moore, Mr. Clarence Bloomfield",male,47.00,0,0,113796,42.4000,NaN,S
68,960,1,"Tucker, Mr. Gilbert Milligan Jr",male,31.00,0,0,2543,28.5375,C53,C
69,961,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.00,1,4,19950,263.0000,C23 C25 C27,S
70,962,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,382653,7.7500,NaN,Q
71,963,3,"Minkoff, Mr. Lazar",male,21.00,0,0,349211,7.8958,NaN,S
72,964,3,"Nieminen, Miss. Manta Josefina",female,29.00,0,0,3101297,7.9250,NaN,S
73,965,1,"Ovies y Rodriguez, Mr. Servando",male,28.50,0,0,PC 17562,27.7208,D43,C
74,966,1,"Geiger, Miss. Amalie",female,35.00,0,0,113503,211.5000,C130,C
75,967,1,"Keeping, Mr. Edwin",male,32.50,0,0,113503,211.5000,C132,C
76,968,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
77,969,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.00,2,0,11770,25.7000,C101,S
78,970,2,"Aldworth, Mr. Charles Augustus",male,30.00,0,0,248744,13.0000,NaN,S
79,971,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,368702,7.7500,NaN,Q
80,972,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
81,973,1,"Straus, Mr. Isidor",male,67.00,1,0,PC 17483,221.7792,C55 C57,S
82,974,1,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0000,NaN,S
83,975,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
84,976,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q
85,977,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
86,978,3,"Barry, Miss. Julia",female,27.00,0,0,330844,7.8792,NaN,Q
87,979,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,A/4 31416,8.0500,NaN,S
88,980,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q
89,981,2,"Wells, Master. Ralph Lester",male,2.00,1,1,29103,23.0000,NaN,S
90,982,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.00,1,0,347072,13.9000,NaN,S
91,983,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S
92,984,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,F.C. 12750,52.0000,B71,S
93,985,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
94,986,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C
95,987,3,"Tenglin, Mr. Gunnar Isidor",male,25.00,0,0,350033,7.7958,NaN,S
96,988,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,19877,78.8500,C46,S
97,989,3,"Makinen, Mr. Kalle Edvard",male,29.00,0,0,STON/O 2. 3101268,7.9250,NaN,S
98,990,3,"Braf, Miss. Elin Ester Maria",female,20.00,0,0,347471,7.8542,NaN,S
99,991,3,"Nancarrow, Mr. William Henry",male,33.00,0,0,A./5. 3338,8.0500,NaN,S
100,992,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.00,1,0,11778,55.4417,C116,C
101,993,2,"Weisz, Mr. Leopold",male,27.00,1,0,228414,26.0000,NaN,S
102,994,3,"Foley, Mr. William",male,NaN,0,0,365235,7.7500,NaN,Q
103,995,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.00,0,0,347070,7.7750,NaN,S
104,996,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,NaN,C
105,997,3,"Holthen, Mr. Johan Martin",male,28.00,0,0,C 4001,22.5250,NaN,S
106,998,3,"Buckley, Mr. Daniel",male,21.00,0,0,330920,7.8208,NaN,Q
107,999,3,"Ryan, Mr. Edward",male,NaN,0,0,383162,7.7500,NaN,Q
108,1000,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,3410,8.7125,NaN,S
109,1001,2,"Swane, Mr. George",male,18.50,0,0,248734,13.0000,F,S
110,1002,2,"Stanton, Mr. Samuel Ward",male,41.00,0,0,237734,15.0458,NaN,C
111,1003,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,Q
112,1004,1,"Evans, Miss. Edith Corse",female,36.00,0,0,PC 17531,31.6792,A29,C
113,1005,3,"Buckley, Miss. Katherine",female,18.50,0,0,329944,7.2833,NaN,Q
114,1006,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.00,1,0,PC 17483,221.7792,C55 C57,S
115,1007,3,"Chronopoulos, Mr. Demetrios",male,18.00,1,0,2680,14.4542,NaN,C
116,1008,3,"Thomas, Mr. John",male,NaN,0,0,2681,6.4375,NaN,C
117,1009,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,PP 9549,16.7000,G6,S
118,1010,1,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C
119,1011,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.00,1,0,SC/AH 29037,26.0000,NaN,S
120,1012,2,"Watt, Miss. Bertha J",female,12.00,0,0,C.A. 33595,15.7500,NaN,S
121,1013,3,"Kiernan, Mr. John",male,NaN,1,0,367227,7.7500,NaN,Q
122,1014,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.00,1,0,13236,57.7500,C28,C
123,1015,3,"Carver, Mr. Alfred John",male,28.00,0,0,392095,7.2500,NaN,S
124,1016,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.7500,NaN,Q
125,1017,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,371362,16.1000,NaN,S
126,1018,3,"Brobeck, Mr. Karl Rudolf",male,22.00,0,0,350045,7.7958,NaN,S
127,1019,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q
128,1020,2,"Bowenur, Mr. Solomon",male,42.00,0,0,211535,13.0000,NaN,S
129,1021,3,"Petersen, Mr. Marius",male,24.00,0,0,342441,8.0500,NaN,S
130,1022,3,"Spinner, Mr. Henry John",male,32.00,0,0,STON/OQ. 369943,8.0500,NaN,S
131,1023,1,"Gracie, Col. Archibald IV",male,53.00,0,0,113780,28.5000,C51,C
132,1024,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,S
133,1025,3,"Thomas, Mr. Charles P",male,NaN,1,0,2621,6.4375,NaN,C
134,1026,3,"Dintcheff, Mr. Valtcho",male,43.00,0,0,349226,7.8958,NaN,S
135,1027,3,"Carlsson, Mr. Carl Robert",male,24.00,0,0,350409,7.8542,NaN,S
136,1028,3,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C
137,1029,2,"Schmidt, Mr. August",male,26.00,0,0,248659,13.0000,NaN,S
138,1030,3,"Drapkin, Miss. Jennie",female,23.00,0,0,SOTON/OQ 392083,8.0500,NaN,S
139,1031,3,"Goodwin, Mr. Charles Frederick",male,40.00,1,6,CA 2144,46.9000,NaN,S
140,1032,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,NaN,S
141,1033,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S
142,1034,1,"Ryerson, Mr. Arthur Larned",male,61.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
143,1035,2,"Beauchamp, Mr. Henry James",male,28.00,0,0,244358,26.0000,NaN,S
144,1036,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...",male,42.00,0,0,17475,26.5500,NaN,S
145,1037,3,"Vander Planke, Mr. Julius",male,31.00,3,0,345763,18.0000,NaN,S
146,1038,1,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,17463,51.8625,E46,S
147,1039,3,"Davies, Mr. Evan",male,22.00,0,0,SC/A4 23568,8.0500,NaN,S
148,1040,1,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S
149,1041,2,"Lahtinen, Rev. William",male,30.00,1,1,250651,26.0000,NaN,S
150,1042,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.00,0,1,11767,83.1583,C54,C
151,1043,3,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
152,1044,3,"Storey, Mr. Thomas",male,60.50,0,0,3701,NaN,NaN,S
153,1045,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.00,0,2,350405,12.1833,NaN,S
154,1046,3,"Asplund, Master. Filip Oscar",male,13.00,4,2,347077,31.3875,NaN,S
155,1047,3,"Duquemin, Mr. Joseph",male,24.00,0,0,S.O./P.P. 752,7.5500,NaN,S
156,1048,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S
157,1049,3,"Lundin, Miss. Olga Elida",female,23.00,0,0,347469,7.8542,NaN,S
158,1050,1,"Borebank, Mr. John James",male,42.00,0,0,110489,26.5500,D22,S
159,1051,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.00,0,2,SOTON/O.Q. 3101315,13.7750,NaN,S
160,1052,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q
161,1053,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,NaN,C
162,1054,2,"Wright, Miss. Marion",female,26.00,0,0,220844,13.5000,NaN,S
163,1055,3,"Pearce, Mr. Ernest",male,NaN,0,0,343271,7.0000,NaN,S
164,1056,2,"Peruschitz, Rev. Joseph Maria",male,41.00,0,0,237393,13.0000,NaN,S
165,1057,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.00,1,1,315153,22.0250,NaN,S
166,1058,1,"Brandeis, Mr. Emil",male,48.00,0,0,PC 17591,50.4958,B10,C
167,1059,3,"Ford, Mr. Edward Watson",male,18.00,2,2,W./C. 6608,34.3750,NaN,S
168,1060,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
169,1061,3,"Hellstrom, Miss. Hilda Maria",female,22.00,0,0,7548,8.9625,NaN,S
170,1062,3,"Lithman, Mr. Simon",male,NaN,0,0,S.O./P.P. 251,7.5500,NaN,S
171,1063,3,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C
172,1064,3,"Dyker, Mr. Adolf Fredrik",male,23.00,1,0,347072,13.9000,NaN,S
173,1065,3,"Torfa, Mr. Assad",male,NaN,0,0,2673,7.2292,NaN,C
174,1066,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40.00,1,5,347077,31.3875,NaN,S
175,1067,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,29750,39.0000,NaN,S
176,1068,2,"Sincock, Miss. Maude",female,20.00,0,0,C.A. 33112,36.7500,NaN,S
177,1069,1,"Stengel, Mr. Charles Emil Henry",male,54.00,1,0,11778,55.4417,C116,C
178,1070,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.00,0,3,230136,39.0000,F4,S
179,1071,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,PC 17756,83.1583,E45,C
180,1072,2,"McCrie, Mr. James Matthew",male,30.00,0,0,233478,13.0000,NaN,S
181,1073,1,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,PC 17756,83.1583,E52,C
182,1074,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.00,1,0,113773,53.1000,D30,S
183,1075,3,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q
184,1076,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C
185,1077,2,"Maybery, Mr. Frank Hubert",male,40.00,0,0,239059,16.0000,NaN,S
186,1078,2,"Phillips, Miss. Alice Frances Louisa",female,21.00,0,1,S.O./P.P. 2,21.0000,NaN,S
187,1079,3,"Davies, Mr. Joseph",male,17.00,2,0,A/4 48873,8.0500,NaN,S
188,1080,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,S
189,1081,2,"Veal, Mr. James",male,40.00,0,0,28221,13.0000,NaN,S
190,1082,2,"Angle, Mr. William A",male,34.00,1,0,226875,26.0000,NaN,S
191,1083,1,"Salomon, Mr. Abraham L",male,NaN,0,0,111163,26.0000,NaN,S
192,1084,3,"van Billiard, Master. Walter John",male,11.50,1,1,A/5. 851,14.5000,NaN,S
193,1085,2,"Lingane, Mr. John",male,61.00,0,0,235509,12.3500,NaN,Q
194,1086,2,"Drew, Master. Marshall Brines",male,8.00,0,2,28220,32.5000,NaN,S
195,1087,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.00,0,0,347465,7.8542,NaN,S
196,1088,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,16966,134.5000,E34,C
197,1089,3,"Nilsson, Miss. Berta Olivia",female,18.00,0,0,347066,7.7750,NaN,S
198,1090,2,"Baimbrigge, Mr. Charles Robert",male,23.00,0,0,C.A. 31030,10.5000,NaN,S
199,1091,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,NaN,0,0,65305,8.1125,NaN,S
200,1092,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,Q
201,1093,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,NaN,S
202,1094,1,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C
203,1095,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,26360,26.0000,NaN,S
204,1096,2,"Andrew, Mr. Frank Thomas",male,25.00,0,0,C.A. 34050,10.5000,NaN,S
205,1097,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
206,1098,3,"McGowan, Miss. Katherine",female,35.00,0,0,9232,7.7500,NaN,Q
207,1099,2,"Collett, Mr. Sidney C Stuart",male,24.00,0,0,28034,10.5000,NaN,S
208,1100,1,"Rosenbaum, Miss. Edith Louise",female,33.00,0,0,PC 17613,27.7208,A11,C
209,1101,3,"Delalic, Mr. Redjo",male,25.00,0,0,349250,7.8958,NaN,S
210,1102,3,"Andersen, Mr. Albert Karvin",male,32.00,0,0,C 4001,22.5250,NaN,S
211,1103,3,"Finoli, Mr. Luigi",male,NaN,0,0,SOTON/O.Q. 3101308,7.0500,NaN,S
212,1104,2,"Deacon, Mr. Percy William",male,17.00,0,0,S.O.C. 14879,73.5000,NaN,S
213,1105,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.00,1,0,24065,26.0000,NaN,S
214,1106,3,"Andersson, Miss. Ida Augusta Margareta",female,38.00,4,2,347091,7.7750,NaN,S
215,1107,1,"Head, Mr. Christopher",male,42.00,0,0,113038,42.5000,B11,S
216,1108,3,"Mahon, Miss. Bridget Delia",female,NaN,0,0,330924,7.8792,NaN,Q
217,1109,1,"Wick, Mr. George Dennick",male,57.00,1,1,36928,164.8667,NaN,S
218,1110,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.00,1,1,113503,211.5000,C80,C
219,1111,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S
220,1112,2,"Duran y More, Miss. Florentina",female,30.00,1,0,SC/PARIS 2148,13.8583,NaN,C
221,1113,3,"Reynolds, Mr. Harold J",male,21.00,0,0,342684,8.0500,NaN,S
222,1114,2,"Cook, Mrs. (Selena Rogers)",female,22.00,0,0,W./C. 14266,10.5000,F33,S
223,1115,3,"Karlsson, Mr. Einar Gervasius",male,21.00,0,0,350053,7.7958,NaN,S
224,1116,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,PC 17606,27.4458,NaN,C
225,1117,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,2661,15.2458,NaN,C
226,1118,3,"Asplund, Mr. Johan Charles",male,23.00,0,0,350054,7.7958,NaN,S
227,1119,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.7500,NaN,Q
228,1120,3,"Everett, Mr. Thomas James",male,40.50,0,0,C.A. 6212,15.1000,NaN,S
229,1121,2,"Hocking, Mr. Samuel James Metcalfe",male,36.00,0,0,242963,13.0000,NaN,S
230,1122,2,"Sweet, Mr. George Frederick",male,14.00,0,0,220845,65.0000,NaN,S
231,1123,1,"Willard, Miss. Constance",female,21.00,0,0,113795,26.5500,NaN,S
232,1124,3,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958,NaN,S
233,1125,3,"Linehan, Mr. Michael",male,NaN,0,0,330971,7.8792,NaN,Q
234,1126,1,"Cumings, Mr. John Bradley",male,39.00,1,0,PC 17599,71.2833,C85,C
235,1127,3,"Vendel, Mr. Olof Edvin",male,20.00,0,0,350416,7.8542,NaN,S
236,1128,1,"Warren, Mr. Frank Manley",male,64.00,1,0,110813,75.2500,D37,C
237,1129,3,"Baccos, Mr. Raffull",male,20.00,0,0,2679,7.2250,NaN,C
238,1130,2,"Hiltunen, Miss. Marta",female,18.00,1,1,250650,13.0000,NaN,S
239,1131,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,PC 17761,106.4250,C86,C
240,1132,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.00,0,0,112377,27.7208,NaN,C
241,1133,2,"Christy, Mrs. (Alice Frances)",female,45.00,0,2,237789,30.0000,NaN,S
242,1134,1,"Spedden, Mr. Frederic Oakley",male,45.00,1,1,16966,134.5000,E34,C
243,1135,3,"Hyman, Mr. Abraham",male,NaN,0,0,3470,7.8875,NaN,S
244,1136,3,"Johnston, Master. William Arthur Willie""""",male,NaN,1,2,W./C. 6607,23.4500,NaN,S
245,1137,1,"Kenyon, Mr. Frederick R",male,41.00,1,0,17464,51.8625,D21,S
246,1138,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.00,0,0,F.C.C. 13534,21.0000,NaN,S
247,1139,2,"Drew, Mr. James Vivian",male,42.00,1,1,28220,32.5000,NaN,S
248,1140,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.00,1,0,26707,26.0000,NaN,S
249,1141,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,NaN,1,0,2660,14.4542,NaN,C
250,1142,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,NaN,S
251,1143,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.00,0,0,SOTON/O2 3101284,7.9250,NaN,S
252,1144,1,"Clark, Mr. Walter Miller",male,27.00,1,0,13508,136.7792,C89,C
253,1145,3,"Salander, Mr. Karl Johan",male,24.00,0,0,7266,9.3250,NaN,S
254,1146,3,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9.5000,NaN,S
255,1147,3,"MacKay, Mr. George William",male,NaN,0,0,C.A. 42795,7.5500,NaN,S

In [44]:
data_train.Fare.describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [45]:
data_test.Fare.describe()

count    417.000000
mean      35.627188
std       55.907576
min        0.000000
25%        7.895800
50%       14.454200
75%       31.500000
max      512.329200
Name: Fare, dtype: float64

In [46]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

array([[ 0.,  0.,  3.],
       [ 0.,  0.,  1.],
       [ 0.,  2.,  3.],
       [ 2.,  1.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  2.],
       [ 0.,  1.,  3.],
       [ 0.,  0.,  2.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  2.],
       [ 0.,  1.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  1.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  2.,  3.],
       [ 4.,  0.,  3.],
       [ 0.,  1.,  3.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 2.,  8.,  3.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 2.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 2.,  1.,  3.],
       [ 0.,  1.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  1.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  3.],
       [ 0.,  2.,  3.],
       [ 0.,  0.,  2.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 9.,  1.,  3.],
       [ 1.,  1.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 9.,  1.,  3.],
       [ 0.,  1.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  2.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  3.],
       [ 1.,  1.,  3.]])

In [66]:
def processFeatures(data):
  # source = data.loc[:, ['Pclass', 'SibSp', 'Parch', 'Fare']]
  source = data

  dummies_embarked = pd.get_dummies(source['Embarked'], prefix= 'Embarked')
#   dummies_sex = pd.get_dummies(source['Sex'], prefix= 'Sex')
  source = pd.concat([source, dummies_embarked], axis=1)

  source['Sex'] = source['Sex'].map(lambda x : 1 if x == 'male' else 0 )

  source = set_missing_ages(source, ['Age', 'Parch', 'SibSp', 'Pclass'], 'Age')
  source = set_missing_ages(source, ['Fare', 'Parch', 'SibSp', 'Pclass'], 'Fare')
  return source.filter(regex='Age|SibSp|Parch|Fare|Embarked_.*|Sex|Pclass')

def set_missing_ages(df, features, target):
  target_df = df[features]
  known = target_df[target_df[target].notnull()].as_matrix()
  unknown = target_df[target_df[target].isnull()].as_matrix()
  y = known[:, 0]
  X = known[:, 1:]
  rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
  rfr.fit(X, y)
  predicted = rfr.predict(unknown[:, 1::])
  df.loc[ (df[target].isnull()), target ] = predicted
  return df

targetX = processFeatures(data_test)
data_train.SibSp

0      1
1      1
2      0
3      1
4      0
5      0
6      0
7      3
8      0
9      1
10     1
11     0
12     0
13     1
14     0
15     0
16     4
17     0
18     1
19     0
20     0
21     0
22     0
23     0
24     3
25     1
26     0
27     3
28     0
29     0
30     0
31     1
32     0
33     0
34     1
35     1
36     0
37     0
38     2
39     1
40     1
41     1
42     0
43     1
44     0
45     0
46     1
47     0
48     2
49     1
50     4
51     0
52     1
53     1
54     0
55     0
56     0
57     0
58     1
59     5
60     0
61     0
62     1
63     3
64     0
65     1
66     0
67     0
68     4
69     2
70     0
71     5
72     0
73     1
74     0
75     0
76     0
77     0
78     0
79     0
80     0
81     0
82     0
83     0
84     0
85     3
86     1
87     0
88     3
89     0
90     0
91     0
92     1
93     1
94     0
95     0
96     0
97     0
98     0
99     1
100    0
101    0
102    0
103    0
104    2
105    0
106    0
107    0
108    0
109    1
110    0
111    1
112    0
113    1
114    0
115    0
116    0
117    1
118    0
119    4
120    2
121    0
122    1
123    0
124    0
125    1
126    0
127    0
128    1
129    0
130    0
131    0
132    1
133    1
134    0
135    0
136    0
137    1
138    0
139    0
140    0
141    0
142    1
143    0
144    0
145    1
146    0
147    2
148    0
149    0
150    0
151    1
152    0
153    0
154    0
155    0
156    0
157    0
158    0
159    8
160    0
161    0
162    0
163    0
164    4
165    0
166    0
167    1
168    0
169    0
170    0
171    4
172    1
173    0
174    0
175    1
176    3
177    0
178    0
179    0
180    8
181    0
182    4
183    2
184    0
185    0
186    1
187    0
188    1
189    0
190    0
191    0
192    1
193    1
194    0
195    0
196    0
197    0
198    0
199    0
200    0
201    8
202    0
203    0
204    0
205    0
206    1
207    0
208    0
209    0
210    0
211    0
212    0
213    0
214    1
215    1
216    0
217    1
218    0
219    0
220    0
221    0
222    0
223    0
224    1
225    0
226    0
227    0
228    0
229    3
230    1
231    0
232    0
233    4
234    0
235    0
236    1
237    0
238    0
239    0
240    1
241    1
242    0
243    0
244    0
245    2
246    0
247    0
248    1
249    1
250    0
251    1
252    0
253    1
254    0
255    0
256    0
257    0
258    0
259    0
260    0
261    4
262    1
263    0
264    0
265    0
266    4
267    1
268    0
269    0
270    0
271    0
272    0
273    0
274    0
275    1
276    0
277    0
278    4
279    1
280    0
281    0
282    0
283    0
284    0
285    0
286    0
287    0
288    0
289    0
290    0
291    1
292    0
293    0
294    0
295    0
296    0
297    1
298    0
299    0
300    0
301    2
302    0
303    0
304    0
305    1
306    0
307    1
308    1
309    0
310    0
311    2
312    1
313    0
314    1
315    0
316    1
317    0
318    0
319    1
320    0
321    0
322    0
323    1
324    8
325    0
326    0
327    0
328    1
329    0
330    2
331    0
332    0
333    2
334    1
335    0
336    1
337    0
338    0
339    0
340    1
341    3
342    0
343    0
344    0
345    0
346    0
347    1
348    1
349    0
350    0
351    0
352    1
353    1
354    0
355    0
356    0
357    0
358    0
359    0
360    1
361    1
362    0
363    0
364    1
365    0
366    1
367    0
368    0
369    0
370    1
371    1
372    0
373    0
374    3
375    1
376    0
377    0
378    0
379    0
380    0
381    0
382    0
383    1
384    0
385    0
386    5
387    0
388    0
389    0
390    1
391    0
392    2
393    1
394    0
395    0
396    0
397    0
398    0
399    0
400    0
401    0
402    1
403    1
404    0
405    1
406    0
407    1
408    0
409    3
410    0
411    0
412    1
413    0
414    0
415    0
416    1
417    0
418    0
419    0
420    0
421    0
422    0
423    1
424    1
425    0
426    1
427    0
428    0
429    0
430    0
431    1
432    1
433    0
434    1
435    1
436    2
437    2
438    1
439    0
440    1
441    0
442    1
443    0
444    0
445    0
446    0
447    0
448    2
449    0
450    1
451    1
452    0
453    1
454    0
455    0
456    0
457    1
458    0
459    0
460    0
461    0
462    0
463    0
464    0
465    0
466    0
467    0
468    0
469    2
470    0
471    0
472    1
473    0
474    0
475    0
476    1
477    1
478    0
479    0
480    5
481    0
482    0
483    0
484    1
485    3
486    1
487    0
488    0
489    1
490    1
491    0
492    0
493    0
494    0
495    0
496    1
497    0
498    1
499    0
500    0
501    0
502    0
503    0
504    0
505    1
506    0
507    0
508    0
509    0
510    0
511    0
512    0
513    1
514    0
515    0
516    0
517    0
518    1
519    0
520    0
521    0
522    0
523    0
524    0
525    0
526    0
527    0
528    0
529    2
530    1
531    0
532    1
533    0
534    0
535    0
536    0
537    0
538    0
539    0
540    0
541    4
542    4
543    1
544    1
545    0
546    1
547    0
548    1
549    1
550    0
551    0
552    0
553    0
554    0
555    0
556    1
557    0
558    1
559    1
560    0
561    0
562    0
563    0
564    0
565    2
566    0
567    0
568    0
569    0
570    0
571    2
572    0
573    0
574    0
575    0
576    0
577    1
578    1
579    0
580    1
581    1
582    0
583    0
584    0
585    0
586    0
587    1
588    0
589    0
590    0
591    1
592    0
593    0
594    1
595    1
596    0
597    0
598    0
599    1
600    2
601    0
602    0
603    0
604    0
605    1
606    0
607    0
608    1
609    0
610    1
611    0
612    1
613    0
614    0
615    1
616    1
617    1
618    2
619    0
620    1
621    1
622    1
623    0
624    0
625    0
626    0
627    0
628    0
629    0
630    0
631    0
632    0
633    0
634    3
635    0
636    0
637    1
638    0
639    1
640    0
641    0
642    3
643    0
644    2
645    1
646    0
647    0
648    0
649    0
650    0
651    0
652    0
653    0
654    0
655    2
656    0
657    1
658    0
659    0
660    2
661    0
662    0
663    0
664    1
665    2
666    0
667    0
668    0
669    1
670    1
671    1
672    0
673    0
674    0
675    0
676    0
677    0
678    1
679    0
680    0
681    0
682    0
683    5
684    1
685    1
686    4
687    0
688    0
689    0
690    1
691    0
692    0
693    0
694    0
695    0
696    0
697    0
698    1
699    0
700    1
701    0
702    0
703    0
704    1
705    0
706    0
707    0
708    0
709    1
710    0
711    0
712    1
713    0
714    0
715    0
716    0
717    0
718    0
719    0
720    0
721    1
722    0
723    0
724    1
725    0
726    3
727    0
728    1
729    1
730    0
731    0
732    0
733    0
734    0
735    0
736    1
737    0
738    0
739    0
740    0
741    1
742    2
743    1
744    0
745    1
746    1
747    0
748    1
749    0
750    1
751    0
752    0
753    0
754    1
755    1
756    0
757    0
758    0
759    0
760    0
761    0
762    0
763    1
764    0
765    1
766    0
767    0
768    1
769    0
770    0
771    0
772    0
773    0
774    1
775    0
776    0
777    0
778    0
779    0
780    0
781    1
782    0
783    1
784    0
785    0
786    0
787    4
788    1
789    0
790    0
791    0
792    8
793    0
794    0
795    0
796    0
797    0
798    0
799    1
800    0
801    1
802    1
803    0
804    0
805    0
806    0
807    0
808    0
809    1
810    0
811    0
812    0
813    4
814    0
815    0
816    0
817    1
818    0
819    3
820    1
821    0
822    0
823    0
824    4
825    0
826    0
827    0
828    0
829    0
830    1
831    1
832    0
833    0
834    0
835    1
836    0
837    0
838    0
839    0
840    0
841    0
842    0
843    0
844    0
845    0
846    8
847    0
848    0
849    1
850    4
851    0
852    1
853    0
854    1
855    0
856    1
857    0
858    0
859    0
860    2
861    1
862    0
863    8
864    0
865    0
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    0
876    0
877    0
878    0
879    0
880    0
881    0
882    0
883    0
884    0
885    0
886    0
887    0
888    1
889    0
890    0
Name: SibSp, dtype: int64

In [67]:
data_train.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

0            Mr
1           Mrs
2          Miss
3           Mrs
4            Mr
5            Mr
6            Mr
7        Master
8           Mrs
9           Mrs
10         Miss
11         Miss
12           Mr
13           Mr
14         Miss
15          Mrs
16       Master
17           Mr
18          Mrs
19          Mrs
20           Mr
21           Mr
22         Miss
23           Mr
24         Miss
25          Mrs
26           Mr
27           Mr
28         Miss
29           Mr
30          Don
31          Mrs
32         Miss
33           Mr
34           Mr
35           Mr
36           Mr
37           Mr
38         Miss
39         Miss
40          Mrs
41          Mrs
42           Mr
43         Miss
44         Miss
45           Mr
46           Mr
47         Miss
48           Mr
49          Mrs
50       Master
51           Mr
52          Mrs
53          Mrs
54           Mr
55           Mr
56         Miss
57           Mr
58         Miss
59       Master
60           Mr
61         Miss
62           Mr
63       Master
64           Mr
65       Master
66          Mrs
67           Mr
68         Miss
69           Mr
70           Mr
71         Miss
72           Mr
73           Mr
74           Mr
75           Mr
76           Mr
77           Mr
78       Master
79         Miss
80           Mr
81           Mr
82         Miss
83           Mr
84         Miss
85          Mrs
86           Mr
87           Mr
88         Miss
89           Mr
90           Mr
91           Mr
92           Mr
93           Mr
94           Mr
95           Mr
96           Mr
97           Mr
98          Mrs
99           Mr
100        Miss
101          Mr
102          Mr
103          Mr
104          Mr
105          Mr
106        Miss
107          Mr
108          Mr
109        Miss
110          Mr
111        Miss
112          Mr
113        Miss
114        Miss
115          Mr
116          Mr
117          Mr
118          Mr
119        Miss
120          Mr
121          Mr
122          Mr
123        Miss
124          Mr
125      Master
126          Mr
127          Mr
128        Miss
129          Mr
130          Mr
131          Mr
132         Mrs
133         Mrs
134          Mr
135          Mr
136        Miss
137          Mr
138          Mr
139          Mr
140         Mrs
141        Miss
142         Mrs
143          Mr
144          Mr
145          Mr
146          Mr
147        Miss
148          Mr
149         Rev
150         Rev
151         Mrs
152          Mr
153          Mr
154          Mr
155          Mr
156        Miss
157          Mr
158          Mr
159      Master
160          Mr
161         Mrs
162          Mr
163          Mr
164      Master
165      Master
166         Mrs
167         Mrs
168          Mr
169          Mr
170          Mr
171      Master
172        Miss
173          Mr
174          Mr
175          Mr
176      Master
177        Miss
178          Mr
179          Mr
180        Miss
181          Mr
182      Master
183      Master
184        Miss
185          Mr
186         Mrs
187          Mr
188          Mr
189          Mr
190         Mrs
191          Mr
192        Miss
193      Master
194         Mrs
195        Miss
196          Mr
197          Mr
198        Miss
199        Miss
200          Mr
201          Mr
202          Mr
203          Mr
204          Mr
205        Miss
206          Mr
207          Mr
208        Miss
209          Mr
210          Mr
211        Miss
212          Mr
213          Mr
214          Mr
215        Miss
216        Miss
217          Mr
218        Miss
219          Mr
220          Mr
221          Mr
222          Mr
223          Mr
224          Mr
225          Mr
226          Mr
227          Mr
228          Mr
229        Miss
230         Mrs
231          Mr
232          Mr
233        Miss
234          Mr
235        Miss
236          Mr
237        Miss
238          Mr
239          Mr
240        Miss
241        Miss
242          Mr
243          Mr
244          Mr
245          Dr
246        Miss
247         Mrs
248          Mr
249         Rev
250          Mr
251         Mrs
252          Mr
253          Mr
254         Mrs
255         Mrs
256         Mrs
257        Miss
258        Miss
259         Mrs
260          Mr
261      Master
262          Mr
263          Mr
264        Miss
265          Mr
266          Mr
267          Mr
268         Mrs
269        Miss
270          Mr
271          Mr
272         Mrs
273          Mr
274        Miss
275        Miss
276        Miss
277          Mr
278      Master
279         Mrs
280          Mr
281          Mr
282          Mr
283          Mr
284          Mr
285          Mr
286          Mr
287          Mr
288          Mr
289        Miss
290        Miss
291         Mrs
292          Mr
293        Miss
294          Mr
295          Mr
296          Mr
297        Miss
298          Mr
299         Mrs
300        Miss
301          Mr
302          Mr
303        Miss
304          Mr
305      Master
306        Miss
307         Mrs
308          Mr
309        Miss
310        Miss
311        Miss
312         Mrs
313          Mr
314          Mr
315        Miss
316         Mrs
317          Dr
318        Miss
319         Mrs
320          Mr
321          Mr
322        Miss
323         Mrs
324          Mr
325        Miss
326          Mr
327         Mrs
328         Mrs
329        Miss
330        Miss
331          Mr
332          Mr
333          Mr
334         Mrs
335          Mr
336          Mr
337        Miss
338          Mr
339          Mr
340      Master
341        Miss
342          Mr
343          Mr
344          Mr
345        Miss
346        Miss
347         Mrs
348      Master
349          Mr
350          Mr
351          Mr
352          Mr
353          Mr
354          Mr
355          Mr
356        Miss
357        Miss
358        Miss
359        Miss
360          Mr
361          Mr
362         Mrs
363          Mr
364          Mr
365          Mr
366         Mrs
367         Mrs
368        Miss
369         Mme
370          Mr
371          Mr
372          Mr
373          Mr
374        Miss
375         Mrs
376        Miss
377          Mr
378          Mr
379          Mr
380        Miss
381        Miss
382          Mr
383         Mrs
384          Mr
385          Mr
386      Master
387        Miss
388          Mr
389        Miss
390          Mr
391          Mr
392          Mr
393        Miss
394         Mrs
395          Mr
396        Miss
397          Mr
398          Dr
399         Mrs
400          Mr
401          Mr
402        Miss
403          Mr
404        Miss
405          Mr
406          Mr
407      Master
408          Mr
409        Miss
410          Mr
411          Mr
412        Miss
413          Mr
414          Mr
415         Mrs
416         Mrs
417        Miss
418          Mr
419        Miss
420          Mr
421          Mr
422          Mr
423         Mrs
424          Mr
425          Mr
426         Mrs
427        Miss
428          Mr
429          Mr
430          Mr
431         Mrs
432         Mrs
433          Mr
434          Mr
435        Miss
436        Miss
437         Mrs
438          Mr
439          Mr
440         Mrs
441          Mr
442          Mr
443          Ms
444          Mr
445      Master
446        Miss
447          Mr
448        Miss
449       Major
450          Mr
451          Mr
452          Mr
453          Mr
454          Mr
455          Mr
456          Mr
457         Mrs
458        Miss
459          Mr
460          Mr
461          Mr
462          Mr
463          Mr
464          Mr
465          Mr
466          Mr
467          Mr
468          Mr
469        Miss
470          Mr
471          Mr
472         Mrs
473         Mrs
474        Miss
475          Mr
476          Mr
477          Mr
478          Mr
479        Miss
480      Master
481          Mr
482          Mr
483         Mrs
484          Mr
485        Miss
486         Mrs
487          Mr
488          Mr
489      Master
490          Mr
491          Mr
492          Mr
493          Mr
494          Mr
495          Mr
496        Miss
497          Mr
498         Mrs
499          Mr
500          Mr
501        Miss
502        Miss
503        Miss
504        Miss
505          Mr
506         Mrs
507          Mr
508          Mr
509          Mr
510          Mr
511          Mr
512          Mr
513         Mrs
514          Mr
515          Mr
516         Mrs
517          Mr
518         Mrs
519          Mr
520        Miss
521          Mr
522          Mr
523         Mrs
524          Mr
525          Mr
526        Miss
527          Mr
528          Mr
529          Mr
530        Miss
531          Mr
532          Mr
533         Mrs
534        Miss
535        Miss
536       Major
537        Miss
538          Mr
539        Miss
540        Miss
541        Miss
542        Miss
543          Mr
544          Mr
545          Mr
546         Mrs
547          Mr
548          Mr
549      Master
550          Mr
551          Mr
552          Mr
553          Mr
554        Miss
555          Mr
556        Lady
557          Mr
558         Mrs
559         Mrs
560          Mr
561          Mr
562          Mr
563          Mr
564        Miss
565          Mr
566          Mr
567         Mrs
568          Mr
569          Mr
570          Mr
571         Mrs
572          Mr
573        Miss
574          Mr
575          Mr
576        Miss
577         Mrs
578         Mrs
579          Mr
580        Miss
581         Mrs
582          Mr
583          Mr
584          Mr
585        Miss
586          Mr
587          Mr
588          Mr
589          Mr
590          Mr
591         Mrs
592          Mr
593        Miss
594          Mr
595          Mr
596        Miss
597          Mr
598          Mr
599         Sir
600         Mrs
601          Mr
602          Mr
603          Mr
604          Mr
605          Mr
606          Mr
607          Mr
608         Mrs
609        Miss
610         Mrs
611          Mr
612        Miss
613          Mr
614          Mr
615        Miss
616          Mr
617         Mrs
618        Miss
619          Mr
620          Mr
621          Mr
622          Mr
623          Mr
624          Mr
625          Mr
626         Rev
627        Miss
628          Mr
629          Mr
630          Mr
631          Mr
632          Dr
633          Mr
634        Miss
635        Miss
636          Mr
637          Mr
638         Mrs
639          Mr
640          Mr
641        Mlle
642        Miss
643          Mr
644        Miss
645          Mr
646          Mr
647         Col
648          Mr
649        Miss
650          Mr
651        Miss
652          Mr
653        Miss
654        Miss
655          Mr
656          Mr
657         Mrs
658          Mr
659          Mr
660          Dr
661          Mr
662          Mr
663          Mr
664          Mr
665          Mr
666          Mr
667          Mr
668          Mr
669         Mrs
670         Mrs
671          Mr
672          Mr
673          Mr
674          Mr
675          Mr
676          Mr
677        Miss
678         Mrs
679          Mr
680        Miss
681          Mr
682          Mr
683          Mr
684          Mr
685          Mr
686          Mr
687          Mr
688          Mr
689        Miss
690          Mr
691        Miss
692          Mr
693          Mr
694         Col
695          Mr
696          Mr
697        Miss
698          Mr
699          Mr
700         Mrs
701          Mr
702        Miss
703          Mr
704          Mr
705          Mr
706         Mrs
707          Mr
708        Miss
709      Master
710        Mlle
711          Mr
712          Mr
713          Mr
714          Mr
715          Mr
716        Miss
717        Miss
718          Mr
719          Mr
720        Miss
721          Mr
722          Mr
723          Mr
724          Mr
725          Mr
726         Mrs
727        Miss
728          Mr
729        Miss
730        Miss
731          Mr
732          Mr
733          Mr
734          Mr
735          Mr
736         Mrs
737          Mr
738          Mr
739          Mr
740          Mr
741          Mr
742        Miss
743          Mr
744          Mr
745        Capt
746          Mr
747        Miss
748          Mr
749          Mr
750        Miss
751      Master
752          Mr
753          Mr
754         Mrs
755      Master
756          Mr
757          Mr
758          Mr
759    Countess
760          Mr
761          Mr
762          Mr
763         Mrs
764          Mr
765         Mrs
766          Dr
767        Miss
768          Mr
769          Mr
770          Mr
771          Mr
772         Mrs
773          Mr
774         Mrs
775          Mr
776          Mr
777        Miss
778          Mr
779         Mrs
780        Miss
781         Mrs
782          Mr
783          Mr
784          Mr
785          Mr
786        Miss
787      Master
788      Master
789          Mr
790          Mr
791          Mr
792        Miss
793          Mr
794          Mr
795          Mr
796          Dr
797         Mrs
798          Mr
799         Mrs
800          Mr
801         Mrs
802      Master
803      Master
804          Mr
805          Mr
806          Mr
807        Miss
808          Mr
809         Mrs
810          Mr
811          Mr
812          Mr
813        Miss
814          Mr
815          Mr
816        Miss
817          Mr
818          Mr
819      Master
820         Mrs
821          Mr
822    Jonkheer
823         Mrs
824      Master
825          Mr
826          Mr
827      Master
828          Mr
829         Mrs
830         Mrs
831      Master
832          Mr
833          Mr
834          Mr
835        Miss
836          Mr
837          Mr
838          Mr
839          Mr
840          Mr
841          Mr
842        Miss
843          Mr
844          Mr
845          Mr
846          Mr
847          Mr
848         Rev
849         Mrs
850      Master
851          Mr
852        Miss
853        Miss
854         Mrs
855         Mrs
856         Mrs
857          Mr
858         Mrs
859          Mr
860          Mr
861          Mr
862         Mrs
863        Miss
864          Mr
865         Mrs
866        Miss
867          Mr
868          Mr
869      Master
870          Mr
871         Mrs
872          Mr
873          Mr
874         Mrs
875        Miss
876          Mr
877          Mr
878          Mr
879         Mrs
880         Mrs
881          Mr
882        Miss
883          Mr
884          Mr
885         Mrs
886         Rev
887        Miss
888        Miss
889          Mr
890          Mr
Name: Name, dtype: object

In [6]:
data_train.drop('PassengerId', axis=1, inplace=True)
data_train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
42,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
54,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
101,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
103,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
104,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
105,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
106,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
107,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
109,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
110,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
111,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
112,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
113,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
115,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
117,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
118,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
120,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
123,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
124,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
125,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
126,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
128,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
130,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
131,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
134,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
137,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
138,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
139,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
140,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
144,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
145,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
147,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
149,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
150,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
152,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
156,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
161,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
166,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
167,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
168,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
170,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
171,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
172,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
173,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
175,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
176,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
178,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
179,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
180,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
184,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
185,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
186,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
187,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
188,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
189,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
190,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
191,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
192,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
193,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
194,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
195,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
196,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
198,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
199,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
200,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
201,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
203,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
204,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
206,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
207,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
208,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
209,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
210,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
213,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
214,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
215,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
216,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
218,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
219,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
220,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
222,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
223,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
224,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
225,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
226,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
228,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
229,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
230,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
231,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
232,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
233,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
234,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
237,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
239,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
242,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
245,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
246,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
247,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
248,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
249,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
250,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
252,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
253,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S
254,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
255,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C
256,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
257,1,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S
258,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
259,1,2,"Parrish, Mrs. (Lutie Davis)",female,50.00,0,1,230433,26.0000,NaN,S
260,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
261,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
262,0,1,"Taussig, Mr. Emil",male,52.00,1,1,110413,79.6500,E67,S
263,0,1,"Harrison, Mr. William",male,40.00,0,0,112059,0.0000,B94,S
264,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
265,0,2,"Reeves, Mr. David",male,36.00,0,0,C.A. 17248,10.5000,NaN,S
266,0,3,"Panula, Mr. Ernesti Arvid",male,16.00,4,1,3101295,39.6875,NaN,S

In [7]:
from sklearn.preprocessing import LabelEncoder
data_train['Sex'] = LabelEncoder().fit_transform(data_train['Sex'])
data_train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",1,22.00,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.00,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",0,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.00,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",1,35.00,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",1,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",1,54.00,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",1,2.00,3,1,349909,21.0750,NaN,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.00,0,2,347742,11.1333,NaN,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.00,1,0,237736,30.0708,NaN,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.00,1,1,PP 9549,16.7000,G6,S
11,1,1,"Bonnell, Miss. Elizabeth",0,58.00,0,0,113783,26.5500,C103,S
12,0,3,"Saundercock, Mr. William Henry",1,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,0,3,"Andersson, Mr. Anders Johan",1,39.00,1,5,347082,31.2750,NaN,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.00,0,0,350406,7.8542,NaN,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.00,0,0,248706,16.0000,NaN,S
16,0,3,"Rice, Master. Eugene",1,2.00,4,1,382652,29.1250,NaN,Q
17,1,2,"Williams, Mr. Charles Eugene",1,NaN,0,0,244373,13.0000,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.00,1,0,345763,18.0000,NaN,S
19,1,3,"Masselmani, Mrs. Fatima",0,NaN,0,0,2649,7.2250,NaN,C
20,0,2,"Fynney, Mr. Joseph J",1,35.00,0,0,239865,26.0000,NaN,S
21,1,2,"Beesley, Mr. Lawrence",1,34.00,0,0,248698,13.0000,D56,S
22,1,3,"McGowan, Miss. Anna ""Annie""",0,15.00,0,0,330923,8.0292,NaN,Q
23,1,1,"Sloper, Mr. William Thompson",1,28.00,0,0,113788,35.5000,A6,S
24,0,3,"Palsson, Miss. Torborg Danira",0,8.00,3,1,349909,21.0750,NaN,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.00,1,5,347077,31.3875,NaN,S
26,0,3,"Emir, Mr. Farred Chehab",1,NaN,0,0,2631,7.2250,NaN,C
27,0,1,"Fortune, Mr. Charles Alexander",1,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,NaN,0,0,330959,7.8792,NaN,Q
29,0,3,"Todoroff, Mr. Lalio",1,NaN,0,0,349216,7.8958,NaN,S
30,0,1,"Uruchurtu, Don. Manuel E",1,40.00,0,0,PC 17601,27.7208,NaN,C
31,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,NaN,1,0,PC 17569,146.5208,B78,C
32,1,3,"Glynn, Miss. Mary Agatha",0,NaN,0,0,335677,7.7500,NaN,Q
33,0,2,"Wheadon, Mr. Edward H",1,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,0,1,"Meyer, Mr. Edgar Joseph",1,28.00,1,0,PC 17604,82.1708,NaN,C
35,0,1,"Holverson, Mr. Alexander Oskar",1,42.00,1,0,113789,52.0000,NaN,S
36,1,3,"Mamee, Mr. Hanna",1,NaN,0,0,2677,7.2292,NaN,C
37,0,3,"Cann, Mr. Ernest Charles",1,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,0,3,"Vander Planke, Miss. Augusta Maria",0,18.00,2,0,345764,18.0000,NaN,S
39,1,3,"Nicola-Yarred, Miss. Jamila",0,14.00,1,0,2651,11.2417,NaN,C
40,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",0,40.00,1,0,7546,9.4750,NaN,S
41,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",0,27.00,1,0,11668,21.0000,NaN,S
42,0,3,"Kraeff, Mr. Theodor",1,NaN,0,0,349253,7.8958,NaN,C
43,1,2,"Laroche, Miss. Simonne Marie Anne Andree",0,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,1,3,"Devaney, Miss. Margaret Delia",0,19.00,0,0,330958,7.8792,NaN,Q
45,0,3,"Rogers, Mr. William John",1,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,0,3,"Lennon, Mr. Denis",1,NaN,1,0,370371,15.5000,NaN,Q
47,1,3,"O'Driscoll, Miss. Bridget",0,NaN,0,0,14311,7.7500,NaN,Q
48,0,3,"Samaan, Mr. Youssef",1,NaN,2,0,2662,21.6792,NaN,C
49,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",0,18.00,1,0,349237,17.8000,NaN,S
50,0,3,"Panula, Master. Juha Niilo",1,7.00,4,1,3101295,39.6875,NaN,S
51,0,3,"Nosworthy, Mr. Richard Cater",1,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",0,49.00,1,0,PC 17572,76.7292,D33,C
53,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",0,29.00,1,0,2926,26.0000,NaN,S
54,0,1,"Ostby, Mr. Engelhart Cornelius",1,65.00,0,1,113509,61.9792,B30,C
55,1,1,"Woolner, Mr. Hugh",1,NaN,0,0,19947,35.5000,C52,S
56,1,2,"Rugg, Miss. Emily",0,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,0,3,"Novel, Mr. Mansouer",1,28.50,0,0,2697,7.2292,NaN,C
58,1,2,"West, Miss. Constance Mirium",0,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,0,3,"Goodwin, Master. William Frederick",1,11.00,5,2,CA 2144,46.9000,NaN,S
60,0,3,"Sirayanian, Mr. Orsen",1,22.00,0,0,2669,7.2292,NaN,C
61,1,1,"Icard, Miss. Amelie",0,38.00,0,0,113572,80.0000,B28,NaN
62,0,1,"Harris, Mr. Henry Birkhardt",1,45.00,1,0,36973,83.4750,C83,S
63,0,3,"Skoog, Master. Harald",1,4.00,3,2,347088,27.9000,NaN,S
64,0,1,"Stewart, Mr. Albert A",1,NaN,0,0,PC 17605,27.7208,NaN,C
65,1,3,"Moubarek, Master. Gerios",1,NaN,1,1,2661,15.2458,NaN,C
66,1,2,"Nye, Mrs. (Elizabeth Ramell)",0,29.00,0,0,C.A. 29395,10.5000,F33,S
67,0,3,"Crease, Mr. Ernest James",1,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,1,3,"Andersson, Miss. Erna Alexandra",0,17.00,4,2,3101281,7.9250,NaN,S
69,0,3,"Kink, Mr. Vincenz",1,26.00,2,0,315151,8.6625,NaN,S
70,0,2,"Jenkin, Mr. Stephen Curnow",1,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,0,3,"Goodwin, Miss. Lillian Amy",0,16.00,5,2,CA 2144,46.9000,NaN,S
72,0,2,"Hood, Mr. Ambrose Jr",1,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,0,3,"Chronopoulos, Mr. Apostolos",1,26.00,1,0,2680,14.4542,NaN,C
74,1,3,"Bing, Mr. Lee",1,32.00,0,0,1601,56.4958,NaN,S
75,0,3,"Moen, Mr. Sigurd Hansen",1,25.00,0,0,348123,7.6500,F G73,S
76,0,3,"Staneff, Mr. Ivan",1,NaN,0,0,349208,7.8958,NaN,S
77,0,3,"Moutal, Mr. Rahamin Haim",1,NaN,0,0,374746,8.0500,NaN,S
78,1,2,"Caldwell, Master. Alden Gates",1,0.83,0,2,248738,29.0000,NaN,S
79,1,3,"Dowdell, Miss. Elizabeth",0,30.00,0,0,364516,12.4750,NaN,S
80,0,3,"Waelens, Mr. Achille",1,22.00,0,0,345767,9.0000,NaN,S
81,1,3,"Sheerlinck, Mr. Jan Baptist",1,29.00,0,0,345779,9.5000,NaN,S
82,1,3,"McDermott, Miss. Brigdet Delia",0,NaN,0,0,330932,7.7875,NaN,Q
83,0,1,"Carrau, Mr. Francisco M",1,28.00,0,0,113059,47.1000,NaN,S
84,1,2,"Ilett, Miss. Bertha",0,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",0,33.00,3,0,3101278,15.8500,NaN,S
86,0,3,"Ford, Mr. William Neal",1,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,0,3,"Slocovski, Mr. Selman Francis",1,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,1,1,"Fortune, Miss. Mabel Helen",0,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,0,3,"Celotti, Mr. Francesco",1,24.00,0,0,343275,8.0500,NaN,S
90,0,3,"Christmann, Mr. Emil",1,29.00,0,0,343276,8.0500,NaN,S
91,0,3,"Andreasson, Mr. Paul Edvin",1,20.00,0,0,347466,7.8542,NaN,S
92,0,1,"Chaffee, Mr. Herbert Fuller",1,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,0,3,"Dean, Mr. Bertram Frank",1,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,0,3,"Coxon, Mr. Daniel",1,59.00,0,0,364500,7.2500,NaN,S
95,0,3,"Shorney, Mr. Charles Joseph",1,NaN,0,0,374910,8.0500,NaN,S
96,0,1,"Goldschmidt, Mr. George B",1,71.00,0,0,PC 17754,34.6542,A5,C
97,1,1,"Greenfield, Mr. William Bertram",1,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,1,2,"Doling, Mrs. John T (Ada Julia Bone)",0,34.00,0,1,231919,23.0000,NaN,S
99,0,2,"Kantor, Mr. Sinai",1,34.00,1,0,244367,26.0000,NaN,S
100,0,3,"Petranec, Miss. Matilda",0,28.00,0,0,349245,7.8958,NaN,S
101,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",1,NaN,0,0,349215,7.8958,NaN,S
102,0,1,"White, Mr. Richard Frasar",1,21.00,0,1,35281,77.2875,D26,S
103,0,3,"Johansson, Mr. Gustaf Joel",1,33.00,0,0,7540,8.6542,NaN,S
104,0,3,"Gustafsson, Mr. Anders Vilhelm",1,37.00,2,0,3101276,7.9250,NaN,S
105,0,3,"Mionoff, Mr. Stoytcho",1,28.00,0,0,349207,7.8958,NaN,S
106,1,3,"Salkjelsvik, Miss. Anna Kristine",0,21.00,0,0,343120,7.6500,NaN,S
107,1,3,"Moss, Mr. Albert Johan",1,NaN,0,0,312991,7.7750,NaN,S
108,0,3,"Rekic, Mr. Tido",1,38.00,0,0,349249,7.8958,NaN,S
109,1,3,"Moran, Miss. Bertha",0,NaN,1,0,371110,24.1500,NaN,Q
110,0,1,"Porter, Mr. Walter Chamberlain",1,47.00,0,0,110465,52.0000,C110,S
111,0,3,"Zabour, Miss. Hileni",0,14.50,1,0,2665,14.4542,NaN,C
112,0,3,"Barton, Mr. David John",1,22.00,0,0,324669,8.0500,NaN,S
113,0,3,"Jussila, Miss. Katriina",0,20.00,1,0,4136,9.8250,NaN,S
114,0,3,"Attalah, Miss. Malake",0,17.00,0,0,2627,14.4583,NaN,C
115,0,3,"Pekoniemi, Mr. Edvard",1,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,0,3,"Connors, Mr. Patrick",1,70.50,0,0,370369,7.7500,NaN,Q
117,0,2,"Turpin, Mr. William John Robert",1,29.00,1,0,11668,21.0000,NaN,S
118,0,1,"Baxter, Mr. Quigg Edmond",1,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,0,3,"Andersson, Miss. Ellis Anna Maria",0,2.00,4,2,347082,31.2750,NaN,S
120,0,2,"Hickman, Mr. Stanley George",1,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,0,3,"Moore, Mr. Leonard Charles",1,NaN,0,0,A4. 54510,8.0500,NaN,S
122,0,2,"Nasser, Mr. Nicholas",1,32.50,1,0,237736,30.0708,NaN,C
123,1,2,"Webber, Miss. Susan",0,32.50,0,0,27267,13.0000,E101,S
124,0,1,"White, Mr. Percival Wayland",1,54.00,0,1,35281,77.2875,D26,S
125,1,3,"Nicola-Yarred, Master. Elias",1,12.00,1,0,2651,11.2417,NaN,C
126,0,3,"McMahon, Mr. Martin",1,NaN,0,0,370372,7.7500,NaN,Q
127,1,3,"Madsen, Mr. Fridtjof Arne",1,24.00,0,0,C 17369,7.1417,NaN,S
128,1,3,"Peter, Miss. Anna",0,NaN,1,1,2668,22.3583,F E69,C
129,0,3,"Ekstrom, Mr. Johan",1,45.00,0,0,347061,6.9750,NaN,S
130,0,3,"Drazenoic, Mr. Jozef",1,33.00,0,0,349241,7.8958,NaN,C
131,0,3,"Coelho, Mr. Domingos Fernandeo",1,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",0,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",0,29.00,1,0,228414,26.0000,NaN,S
134,0,2,"Sobey, Mr. Samuel James Hayden",1,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,0,2,"Richard, Mr. Emile",1,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,1,1,"Newsom, Miss. Helen Monypeny",0,19.00,0,2,11752,26.2833,D47,S
137,0,1,"Futrelle, Mr. Jacques Heath",1,37.00,1,0,113803,53.1000,C123,S
138,0,3,"Osen, Mr. Olaf Elon",1,16.00,0,0,7534,9.2167,NaN,S
139,0,1,"Giglio, Mr. Victor",1,24.00,0,0,PC 17593,79.2000,B86,C
140,0,3,"Boulos, Mrs. Joseph (Sultana)",0,NaN,0,2,2678,15.2458,NaN,C
141,1,3,"Nysten, Miss. Anna Sofia",0,22.00,0,0,347081,7.7500,NaN,S
142,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",0,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,0,3,"Burke, Mr. Jeremiah",1,19.00,0,0,365222,6.7500,NaN,Q
144,0,2,"Andrew, Mr. Edgardo Samuel",1,18.00,0,0,231945,11.5000,NaN,S
145,0,2,"Nicholls, Mr. Joseph Charles",1,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",1,27.00,0,0,350043,7.7958,NaN,S
147,0,3,"Ford, Miss. Robina Maggie ""Ruby""",0,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",1,36.50,0,2,230080,26.0000,F2,S
149,0,2,"Byles, Rev. Thomas Roussel Davids",1,42.00,0,0,244310,13.0000,NaN,S
150,0,2,"Bateman, Rev. Robert James",1,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,1,1,"Pears, Mrs. Thomas (Edith Wearne)",0,22.00,1,0,113776,66.6000,C2,S
152,0,3,"Meo, Mr. Alfonzo",1,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,0,3,"van Billiard, Mr. Austin Blyler",1,40.50,0,2,A/5. 851,14.5000,NaN,S
154,0,3,"Olsen, Mr. Ole Martin",1,NaN,0,0,Fa 265302,7.3125,NaN,S
155,0,1,"Williams, Mr. Charles Duane",1,51.00,0,1,PC 17597,61.3792,NaN,C
156,1,3,"Gilnagh, Miss. Katherine ""Katie""",0,16.00,0,0,35851,7.7333,NaN,Q
157,0,3,"Corn, Mr. Harry",1,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,0,3,"Smiljanic, Mr. Mile",1,NaN,0,0,315037,8.6625,NaN,S
159,0,3,"Sage, Master. Thomas Henry",1,NaN,8,2,CA. 2343,69.5500,NaN,S
160,0,3,"Cribb, Mr. John Hatfield",1,44.00,0,1,371362,16.1000,NaN,S
161,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",0,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,0,3,"Bengtsson, Mr. John Viktor",1,26.00,0,0,347068,7.7750,NaN,S
163,0,3,"Calic, Mr. Jovo",1,17.00,0,0,315093,8.6625,NaN,S
164,0,3,"Panula, Master. Eino Viljami",1,1.00,4,1,3101295,39.6875,NaN,S
165,1,3,"Goldsmith, Master. Frank John William ""Frankie""",1,9.00,0,2,363291,20.5250,NaN,S
166,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",0,NaN,0,1,113505,55.0000,E33,S
167,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",0,45.00,1,4,347088,27.9000,NaN,S
168,0,1,"Baumann, Mr. John D",1,NaN,0,0,PC 17318,25.9250,NaN,S
169,0,3,"Ling, Mr. Lee",1,28.00,0,0,1601,56.4958,NaN,S
170,0,1,"Van der hoef, Mr. Wyckoff",1,61.00,0,0,111240,33.5000,B19,S
171,0,3,"Rice, Master. Arthur",1,4.00,4,1,382652,29.1250,NaN,Q
172,1,3,"Johnson, Miss. Eleanor Ileen",0,1.00,1,1,347742,11.1333,NaN,S
173,0,3,"Sivola, Mr. Antti Wilhelm",1,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,0,1,"Smith, Mr. James Clinch",1,56.00,0,0,17764,30.6958,A7,C
175,0,3,"Klasen, Mr. Klas Albin",1,18.00,1,1,350404,7.8542,NaN,S
176,0,3,"Lefebre, Master. Henry Forbes",1,NaN,3,1,4133,25.4667,NaN,S
177,0,1,"Isham, Miss. Ann Elizabeth",0,50.00,0,0,PC 17595,28.7125,C49,C
178,0,2,"Hale, Mr. Reginald",1,30.00,0,0,250653,13.0000,NaN,S
179,0,3,"Leonard, Mr. Lionel",1,36.00,0,0,LINE,0.0000,NaN,S
180,0,3,"Sage, Miss. Constance Gladys",0,NaN,8,2,CA. 2343,69.5500,NaN,S
181,0,2,"Pernot, Mr. Rene",1,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,0,3,"Asplund, Master. Clarence Gustaf Hugo",1,9.00,4,2,347077,31.3875,NaN,S
183,1,2,"Becker, Master. Richard F",1,1.00,2,1,230136,39.0000,F4,S
184,1,3,"Kink-Heilmann, Miss. Luise Gretchen",0,4.00,0,2,315153,22.0250,NaN,S
185,0,1,"Rood, Mr. Hugh Roscoe",1,NaN,0,0,113767,50.0000,A32,S
186,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",0,NaN,1,0,370365,15.5000,NaN,Q
187,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",1,45.00,0,0,111428,26.5500,NaN,S
188,0,3,"Bourke, Mr. John",1,40.00,1,1,364849,15.5000,NaN,Q
189,0,3,"Turcin, Mr. Stjepan",1,36.00,0,0,349247,7.8958,NaN,S
190,1,2,"Pinsky, Mrs. (Rosa)",0,32.00,0,0,234604,13.0000,NaN,S
191,0,2,"Carbines, Mr. William",1,19.00,0,0,28424,13.0000,NaN,S
192,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",0,19.00,1,0,350046,7.8542,NaN,S
193,1,2,"Navratil, Master. Michel M",1,3.00,1,1,230080,26.0000,F2,S
194,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",0,44.00,0,0,PC 17610,27.7208,B4,C
195,1,1,"Lurette, Miss. Elise",0,58.00,0,0,PC 17569,146.5208,B80,C
196,0,3,"Mernagh, Mr. Robert",1,NaN,0,0,368703,7.7500,NaN,Q
197,0,3,"Olsen, Mr. Karl Siegwart Andreas",1,42.00,0,1,4579,8.4042,NaN,S
198,1,3,"Madigan, Miss. Margaret ""Maggie""",0,NaN,0,0,370370,7.7500,NaN,Q
199,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",0,24.00,0,0,248747,13.0000,NaN,S
200,0,3,"Vande Walle, Mr. Nestor Cyriel",1,28.00,0,0,345770,9.5000,NaN,S
201,0,3,"Sage, Mr. Frederick",1,NaN,8,2,CA. 2343,69.5500,NaN,S
202,0,3,"Johanson, Mr. Jakob Alfred",1,34.00,0,0,3101264,6.4958,NaN,S
203,0,3,"Youseff, Mr. Gerious",1,45.50,0,0,2628,7.2250,NaN,C
204,1,3,"Cohen, Mr. Gurshon ""Gus""",1,18.00,0,0,A/5 3540,8.0500,NaN,S
205,0,3,"Strom, Miss. Telma Matilda",0,2.00,0,1,347054,10.4625,G6,S
206,0,3,"Backstrom, Mr. Karl Alfred",1,32.00,1,0,3101278,15.8500,NaN,S
207,1,3,"Albimona, Mr. Nassef Cassem",1,26.00,0,0,2699,18.7875,NaN,C
208,1,3,"Carr, Miss. Helen ""Ellen""",0,16.00,0,0,367231,7.7500,NaN,Q
209,1,1,"Blank, Mr. Henry",1,40.00,0,0,112277,31.0000,A31,C
210,0,3,"Ali, Mr. Ahmed",1,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,1,2,"Cameron, Miss. Clear Annie",0,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,0,3,"Perkin, Mr. John Henry",1,22.00,0,0,A/5 21174,7.2500,NaN,S
213,0,2,"Givard, Mr. Hans Kristensen",1,30.00,0,0,250646,13.0000,NaN,S
214,0,3,"Kiernan, Mr. Philip",1,NaN,1,0,367229,7.7500,NaN,Q
215,1,1,"Newell, Miss. Madeleine",0,31.00,1,0,35273,113.2750,D36,C
216,1,3,"Honkanen, Miss. Eliina",0,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,0,2,"Jacobsohn, Mr. Sidney Samuel",1,42.00,1,0,243847,27.0000,NaN,S
218,1,1,"Bazzani, Miss. Albina",0,32.00,0,0,11813,76.2917,D15,C
219,0,2,"Harris, Mr. Walter",1,30.00,0,0,W/C 14208,10.5000,NaN,S
220,1,3,"Sunderland, Mr. Victor Francis",1,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,0,2,"Bracken, Mr. James H",1,27.00,0,0,220367,13.0000,NaN,S
222,0,3,"Green, Mr. George Henry",1,51.00,0,0,21440,8.0500,NaN,S
223,0,3,"Nenkoff, Mr. Christo",1,NaN,0,0,349234,7.8958,NaN,S
224,1,1,"Hoyt, Mr. Frederick Maxfield",1,38.00,1,0,19943,90.0000,C93,S
225,0,3,"Berglund, Mr. Karl Ivar Sven",1,22.00,0,0,PP 4348,9.3500,NaN,S
226,1,2,"Mellors, Mr. William John",1,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,0,3,"Lovell, Mr. John Hall (""Henry"")",1,20.50,0,0,A/5 21173,7.2500,NaN,S
228,0,2,"Fahlstrom, Mr. Arne Jonas",1,18.00,0,0,236171,13.0000,NaN,S
229,0,3,"Lefebre, Miss. Mathilde",0,NaN,3,1,4133,25.4667,NaN,S
230,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",0,35.00,1,0,36973,83.4750,C83,S
231,0,3,"Larsson, Mr. Bengt Edvin",1,29.00,0,0,347067,7.7750,NaN,S
232,0,2,"Sjostedt, Mr. Ernst Adolf",1,59.00,0,0,237442,13.5000,NaN,S
233,1,3,"Asplund, Miss. Lillian Gertrud",0,5.00,4,2,347077,31.3875,NaN,S
234,0,2,"Leyson, Mr. Robert William Norman",1,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,0,3,"Harknett, Miss. Alice Phoebe",0,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,0,2,"Hold, Mr. Stephen",1,44.00,1,0,26707,26.0000,NaN,S
237,1,2,"Collyer, Miss. Marjorie ""Lottie""",0,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,0,2,"Pengelly, Mr. Frederick William",1,19.00,0,0,28665,10.5000,NaN,S
239,0,2,"Hunt, Mr. George Henry",1,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,0,3,"Zabour, Miss. Thamine",0,NaN,1,0,2665,14.4542,NaN,C
241,1,3,"Murphy, Miss. Katherine ""Kate""",0,NaN,1,0,367230,15.5000,NaN,Q
242,0,2,"Coleridge, Mr. Reginald Charles",1,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,0,3,"Maenpaa, Mr. Matti Alexanteri",1,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,0,3,"Attalah, Mr. Sleiman",1,30.00,0,0,2694,7.2250,NaN,C
245,0,1,"Minahan, Dr. William Edward",1,44.00,2,0,19928,90.0000,C78,Q
246,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",0,25.00,0,0,347071,7.7750,NaN,S
247,1,2,"Hamalainen, Mrs. William (Anna)",0,24.00,0,2,250649,14.5000,NaN,S
248,1,1,"Beckwith, Mr. Richard Leonard",1,37.00,1,1,11751,52.5542,D35,S
249,0,2,"Carter, Rev. Ernest Courtenay",1,54.00,1,0,244252,26.0000,NaN,S
250,0,3,"Reed, Mr. James George",1,NaN,0,0,362316,7.2500,NaN,S
251,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",0,29.00,1,1,347054,10.4625,G6,S
252,0,1,"Stead, Mr. William Thomas",1,62.00,0,0,113514,26.5500,C87,S
253,0,3,"Lobb, Mr. William Arthur",1,30.00,1,0,A/5. 3336,16.1000,NaN,S
254,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",0,41.00,0,2,370129,20.2125,NaN,S
255,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",0,29.00,0,2,2650,15.2458,NaN,C
256,1,1,"Thorne, Mrs. Gertrude Maybelle",0,NaN,0,0,PC 17585,79.2000,NaN,C
257,1,1,"Cherry, Miss. Gladys",0,30.00,0,0,110152,86.5000,B77,S
258,1,1,"Ward, Miss. Anna",0,35.00,0,0,PC 17755,512.3292,NaN,C
259,1,2,"Parrish, Mrs. (Lutie Davis)",0,50.00,0,1,230433,26.0000,NaN,S
260,0,3,"Smith, Mr. Thomas",1,NaN,0,0,384461,7.7500,NaN,Q
261,1,3,"Asplund, Master. Edvin Rojj Felix",1,3.00,4,2,347077,31.3875,NaN,S
262,0,1,"Taussig, Mr. Emil",1,52.00,1,1,110413,79.6500,E67,S
263,0,1,"Harrison, Mr. William",1,40.00,0,0,112059,0.0000,B94,S
264,0,3,"Henry, Miss. Delia",0,NaN,0,0,382649,7.7500,NaN,Q
265,0,2,"Reeves, Mr. David",1,36.00,0,0,C.A. 17248,10.5000,NaN,S
266,0,3,"Panula, Mr. Ernesti Arvid",1,16.00,4,1,3101295,39.6875,NaN,S
267,1,3,"Persson, Mr. Ernst Ulrik",1,25.00,1,0,347083,7.7750,NaN,S
268,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",0,58.00,0,1,PC 17582,153.4625,C125,S
269,1,1,"Bissette, Miss. Amelia",0,35.00,0,0,PC 17760,135.6333,C99,S
270,0,1,"Cairns, Mr. Alexander",1,NaN,0,0,113798,31.0000,NaN,S
271,1,3,"Tornquist, Mr. William Henry",1,25.00,0,0,LINE,0.0000,NaN,S
272,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",0,41.00,0,1,250644,19.5000,NaN,S
273,0,1,"Natsch, Mr. Charles H",1,37.00,0,1,PC 17596,29.7000,C118,C
274,1,3,"Healy, Miss. Hanora ""Nora""",0,NaN,0,0,370375,7.7500,NaN,Q
275,1,1,"Andrews, Miss. Kornelia Theodosia",0,63.00,1,0,13502,77.9583,D7,S
276,0,3,"Lindblom, Miss. Augusta Charlotta",0,45.00,0,0,347073,7.7500,NaN,S
277,0,2,"Parkes, Mr. Francis ""Frank""",1,NaN,0,0,239853,0.0000,NaN,S
278,0,3,"Rice, Master. Eric",1,7.00,4,1,382652,29.1250,NaN,Q
279,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",0,35.00,1,1,C.A. 2673,20.2500,NaN,S
280,0,3,"Duane, Mr. Frank",1,65.00,0,0,336439,7.7500,NaN,Q